<section class="analyzer container">
    <div class="analyzer__container">
        <style>
            #root,
            #navigation,
            #structure,
            #content-viewer,
            #used-columns,
            #output-columns,
            #used-objects,
            .tab-content,
            #navigation-col,
            .query-content > .col-md-3,
            .query-content > .col-md-9 {
                height: 100%;
            }

            .main {
                border-top: initial !important;
            }

            .info-panel {
                border: 1px solid #bebebe;
                background-color: lightyellow;
                margin-bottom: 5px;
                padding: 2px;
            }

            .statistics-table-container {
                overflow: auto;
                max-height: 310px;
            }

            .statistics-table {
                height: 100%;
            }

            .root-viewer {
                height: 100%;
                max-height: 360px;
            }

            .navigation-tab {
                cursor: pointer;
            }

            .query-part-tab {
                cursor: pointer;
            }

            .jsoneditor-field {
                cursor: pointer;
            }

            div.jsoneditor-tree button.jsoneditor-button:focus {
                background-color: initial;
                outline: initial;
            }

            .query-parts-nav {
                margin-bottom: 5px !important;
            }

            .query-content {
                height: 460px;
            }

            .body-content > .row > .col-md-3 {
                display: none;
            }

            .body-content > .row > .col-md-9 {
                width: 100% !important;
            }

            .CodeMirror * {
                font-family: monospace !important;
            }

            .CodeMirror {
                border: 1px solid #bebebe;
                font-family: monospace !important;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <div class="info-panel">
                    <p>Select a database server to analyze your query according to its SQL dialect.</p>
                </div>
                <div id="editor-group">
                    <div class="form-group">
                        <h4>Syntax:</h4>
                        <select class="input" id="syntax" name="Syntax">
                            <option value="SQL92SyntaxProvider">ANSI SQL-92</option>
                            <option value="SQL89SyntaxProvider">ANSI SQL-89</option>
                            <option value="SQL2003SyntaxProvider">ANSI SQL-2003</option>
                            <option value="AdvantageSyntaxProvider">
                                Advantage Database Server
                            </option>
                            <option value="DB2SyntaxProvider">IBM DB2</option>
                            <option value="FirebirdSyntaxProvider">Firebird</option>
                            <option value="InformixSyntaxProvider">IBM Informix</option>
                            <option value="MSAccessSyntaxProvider">MS Access</option>
                            <option value="MSSQLSyntaxProvider">Microsoft SQL Server</option>
                            <option value="MSSQLCESyntaxProvider">
                                Microsoft SQL Server Compact
                            </option>
                            <option value="MSSQLAzureSyntaxProvider">Microsoft SQL Azure</option>
                            <option value="MySQLSyntaxProvider">MySQL</option>
                            <option value="NetezzaSyntaxProvider">Netezza</option>
                            <option value="OracleSyntaxProvider">Oracle</option>
                            <option value="PostgreSQLSyntaxProvider">PostgreSQL</option>
                            <option value="SQLiteSyntaxProvider">SQLite</option>
                            <option value="SybaseSyntaxProvider">Sybase</option>
                            <option value="TeradataSyntaxProvider">Teradata</option>
                            <option value="VistaDBSyntaxProvider">VistaDB</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea id="sql"></textarea>
                        <div class="field-validation-error" style="display: none">
                            <span id="parse-error"></span>
                            <p>Make sure you have chosen the right SQL dialect according to your database server.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button id="submit" class="button">Analyze query</button>
                </div>
            </div>
        </div>
        <div id="content" style="display: none">
            <div class="row" style="margin-bottom: 5px">
                <ul id="statistic-navigation" class="nav nav-pills query-parts-nav">
                    <li class="navigation-tab active" id="structure-tab">
                        <a data-toggle="pill" href="#structure">Structure</a>
                    </li>
                    <li class="navigation-tab" id="output-columns-tab">
                        <a data-toggle="pill" href="#output-columns">Output columns</a>
                    </li>
                    <li class="navigation-tab" id="columns-tab">
                        <a data-toggle="pill" href="#used-columns">Used columns</a>
                    </li>
                    <li class="navigation-tab" id="objects-tab">
                        <a data-toggle="pill" href="#used-objects">Used objects</a>
                    </li>
                </ul>
            </div>
            <div class="row query-content">
                <div class="tab-content">
                    <div id="structure" class="tab-pane fade in active">
                        <div id="navigation-col" class="col-md-3">
                            <div style="overflow-y: auto" id="navigation"></div>
                        </div>
                        <div id="content-viewer" class="col-md-9">
                            <ul id="query-navigation" class="nav nav-pills query-parts-nav">
                                <li class="query-part-tab active" id="sql-tab"><a>SQL</a></li>
                                <li class="query-part-tab" id="select-tab"><a>Select</a></li>
                                <li class="query-part-tab" id="from-tab"><a>From</a></li>
                                <li class="query-part-tab" id="where-tab"><a>Where</a></li>
                                <li class="query-part-tab" id="having-tab"><a>Having</a></li>
                                <li class="query-part-tab" id="groupby-tab"><a>Group by</a></li>
                                <li class="query-part-tab" id="orderby-tab"><a>Order by</a></li>
                                <li class="query-part-tab" id="options-tab"><a>Options</a></li>
                            </ul>
                            <div id="root-json" class="root-viewer" style="display: none"></div>
                            <textarea id="root-sql"></textarea>
                        </div>
                    </div>
                    <div id="output-columns" class="tab-pane fade">
                        <div style="max-height: 400px; overflow: auto">
                            <table id="output-columns-table" class="table statistics-table">
                                <thead>
                                    <tr>
                                        <th>Column Name</th>
                                        <th>Expression</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div id="used-columns" class="tab-pane fade">
                        <div class="info-panel">
                            <p>In the case of using unqualified field names (only field name
                                without a table or alias specification) and asterisks in the SELECT
                                list, lack of the information about your database schema may not
                                allow the service to determine the belonging of some fields to
                                objects.<br />
                                Using this service as a Web API you can specify schema and analyze
                                queries regarding it. Please
                                <a href="https://support.activequerybuilder.com/hc/en-us/requests/new?ticket_form_id=204149">contact us</a>
                                for details.</p>
                        </div>
                        <div class="statistics-table-container">
                            <table id="used-columns-table" class="table statistics-table">
                                <thead>
                                    <tr>
                                        <th>Column</th>
                                        <th>Object</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div id="used-objects" class="tab-pane fade">
                        <div style="max-height: 400px; overflow: auto">
                            <table id="used-objects-table" class="table statistics-table">
                                <thead>
                                    <tr>
                                        <th>Object</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row__analyzer">
                <div class="center-block">
                    <a id="raw-json" href="#">View raw JSON</a>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://www.activequerybuilder.com/cdn/codemirror/codemirror.min.css" />
    <link rel="stylesheet" href="https://webapi.activequerybuilder.com/Content/jsoneditor.min.css" />
    <link rel="stylesheet" href="https://webapi.activequerybuilder.com/Content/jstree.style.min.css" />
    <script src="https://static.tildacdn.com/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://www.activequerybuilder.com/cdn/codemirror/codemirror.min.js"></script>
    <script type="text/javascript" src="https://webapi.activequerybuilder.com/Scripts/jsoneditor.min.js"></script>
    <script type="text/javascript" src="https://webapi.activequerybuilder.com/Scripts/jstree.min.js"></script>
    <script src="https://webapi.activequerybuilder.com/Scripts/bootstrap.min.js"></script>
    <script>
        window.onload = function () {
            window.editor = CodeMirror.fromTextArea(document.getElementById('sql'), {
                mode: 'text/x-sql',
                indentWithTabs: true,
                smartIndent: true,
                lineNumbers: true,
                matchBrackets: true,
            });

            window.sqlViewer = CodeMirror.fromTextArea(document.getElementById('root-sql'), {
                mode: 'text/x-sql',
                indentWithTabs: true,
                smartIndent: true,
                matchBrackets: true,
                readOnly: true,
            });

            var initialSql =
                "Select\r\n    p.purchase_date, \r\n    p.customer_id,\r\n    p.registration_name\r\nFrom\r\n    purchases p Inner Join\r\n    (Select\r\n       q.purchase_id\r\n     From\r\n        (Select\r\n           downloads.date_end,\r\n           SubString_Index(downloads.file_name, '/', -1) As file_name,\r\n           downloads.purchase_id\r\n         From\r\n           downloads\r\n         Where\r\n           downloads.date_end > '2014-06-01' And\r\n           downloads.purchase_id <> 0) q\r\n     Where\r\n       q.file_name Like 'setup.exe'\r\n     Group By\r\n       q.purchase_id) sq On p.id = sq.purchase_id";

            window.editor.setValue(initialSql);

            $('.field-validation-error').hide();
            $('#navigation').on('select_node.jstree', onNavigationClick);
            $('.query-part-tab').click(onQueryPartTabClick);
            $('#raw-json').click(onShowRawJsonClick);

            activeQueryPartTab = $('#sql-tab');

            $('#navigation').jstree({
                core: {
                    multiple: false,
                    data: [
                        {
                            text: 'Root',
                        },
                    ],
                    themes: {
                        icons: false,
                    },
                },
            });

            rootViewer = new JSONEditor(document.getElementById('root-json'), {
                name: 'Query',
                mode: 'view',
            });

            $('#submit').click(onSubmitClick);
        };

        var doSubmit = true;

        function onSubmitClick() {
            if (doSubmit) {
                submitSql();
            } else {
                reset();
                $('#editor-group').slideDown();
                $('#submit').html('Analyze query');
                $('#content').hide();
                $('.info-panel').show();
                doSubmit = !doSubmit;
            }
        }

        function reset() {
            updateQueryPartsTabs('sql-tab');
            $('#statistic-navigation a:first').tab('show');

            setStructureVisible(true);
            setJsonViewerVisible(false);

            currentQueryClause = null;
            query = null;
            navigation = null;
            statistics = null;

            queryElements = {};
            cteReferences = {};
        }

        function submitSql() {
            $('.field-validation-error').hide();

            $.ajax({
                url: 'https://webapi.activequerybuilder.com/QueryStatistics/GetStatistics',
                type: 'post',
                data: {
                    sql: editor.getValue(),
                    syntax: document.getElementById('syntax').value,
                },
                success: function (data) {
                    switch (data.ResultCode) {
                        case 0:
                            return setReceivedData(data);
                        case 1:
                            return showError('Not a select statement.');
                        case 2:
                            return showError(data.ParseErrorDescription.Message);
                        case 3:
                            return showError('Serialization error.');
                    }
                },
            });
        }

        var currentSql = null;
        function onNavigationClick(data, selected, event) {
            var node = selected.node;
            if (node.data == null) return;

            setJsonViewerVisible(false);
            updateQueryPartsTabs('sql-tab');
            setSqlViewerText(node.data.sql);

            rootViewer.setName('Query');
            setVisibleQueryPart(queryElements[node.data.id]);
        }

        var activeQueryPartTab = null;

        function onShowRawJsonClick(event) {
            var w = window.open('', 'JSON', 'height=400,width=600,resizable=1,scrollbars=1');
            w.document.write(
                '<html><head><title>JSON</title></head><body><div style="white-space: pre-wrap">',
            );
            w.document.write(JSON.stringify(parsedJson, null, 4));
            w.document.write('</div></body></html>');
        }

        var structureVisible = true;
        function setStructureVisible(visible) {
            structureVisible = visible;
            $('#navigation-col').toggle(visible);
            $('#query-navigation').toggle(visible);
            $('#content-viewer').css('width', visible ? '' : '100%');
        }

        var currentQueryClause = null;
        function onQueryPartTabClick(event) {
            setJsonViewerVisible(this.id != 'sql-tab');

            updateQueryPartsTabs(this.id);

            if (this.id == 'sql-tab') {
                setSqlViewerText(currentSql);
                currentQueryClause = null;
                return;
            }

            currentQueryClause = selectorToClauseName[this.id];
            setActiveClause(currentQueryClause);
        }

        function updateQueryPartsTabs(selectedTabId) {
            activeQueryPartTab.removeClass('active');
            activeQueryPartTab = $('#' + selectedTabId);
            activeQueryPartTab.addClass('active');
        }

        function setActiveClause(clause) {
            showSelectPart(clause);

            var needExpandListItems = listSelectParts.indexOf(clause) != -1;
            if (needExpandListItems) expandRootListItems(rootViewer.node);
        }

        var jsonViewerVisible = true;
        function setJsonViewerVisible(visible) {
            $('#root-json').toggle(visible);
            $(sqlViewer.getWrapperElement()).toggle(!visible);
            jsonViewerVisible = visible;
        }

        function showSelectPart(clauseName) {
            rootViewer.set(visibleSubQuery[clauseName]);
            rootViewer.setName(clauseName);
        }

        function expandRootListItems(root) {
            for (node in root.childs) root.childs[node].expand(false);
        }

        var parsedJson = null;
        var query = null;
        var navigation = null;
        var statistics = null;

        var visibleSubQuery = null;

        var queryElements = {};
        var cteReferences = {};

        function setReceivedData(data) {
            $('.info-panel').hide();
            $('#editor-group').slideUp();
            $('#submit').html('Change query');
            $('#content').show();

            doSubmit = !doSubmit;

            parsedJson = JSON.parse(data.Json);

            query = parsedJson.Query.QueryRoot;
            navigation = parsedJson.Query.Navigation;

            statistics = data.Statistics;
            buildStatisticsTables(statistics);

            dfs(query);

            setVisibleQueryPart(query);

            var nav = getNavigationTreeStructure(navigation);
            setSqlViewerText(nav.data.sql);

            $('#navigation').jstree(true).settings.core.data = nav;
            $('#navigation').jstree(true).refresh();
        }

        function buildStatisticsTables(statistics) {
            buildStatisticsTable(statistics.OutputColumns, 'output-columns-table');
            buildStatisticsTable(statistics.UsedColumns, 'used-columns-table');
            buildStatisticsTable(statistics.UsedObjects, 'used-objects-table');
        }

        function setSqlViewerText(text) {
            currentSql = text;
            sqlViewer.setValue(text);
            sqlViewer.clearHistory();
        }

        function setVisibleQueryPart(queryPart) {
            visibleSubQuery = queryPart;
            setSelectPartsTabsVisible(queryPart);
        }

        function buildStatisticsTable(statistics, tableId) {
            for (item in statistics) {
                var row = $('<tr>');
                var statisticsItem = statistics[item];

                if (typeof statisticsItem === 'string') {
                    row.append($('<td>').text(statisticsItem));
                } else {
                    for (field in statisticsItem) {
                        row.append($('<td>').text(statisticsItem[field]));
                    }
                }

                row.appendTo('#' + tableId + ' tbody');
            }
        }

        var selectClauseName = 'SelectList';
        var fromClauseName = 'FromClause';
        var whereClauseName = 'WhereConditions';
        var havingClauseName = 'HavingConditions';
        var groupByClauseName = 'GroupingList';
        var orderByClauseName = 'OrderByList';
        var optionsClauseName = 'Options';

        var listSelectParts = ['SelectList', 'GroupingList', 'OrderByList'];

        var selectorToClauseName = {
            'select-tab': selectClauseName,
            'from-tab': fromClauseName,
            'where-tab': whereClauseName,
            'having-tab': havingClauseName,
            'groupby-tab': groupByClauseName,
            'orderby-tab': orderByClauseName,
            'options-tab': optionsClauseName,
        };

        function setSelectPartsTabsVisible(queryPart) {
            for (selector in selectorToClauseName) {
                $('#' + selector).toggle(selectorToClauseName[selector] in queryPart);
            }

            var options = queryPart[optionsClauseName];
            if (options == null) return;

            $('#options-tab').toggle(!jQuery.isEmptyObject(options));
        }

        function createStatisticsNavigationNode(propertyName, statisticsNode) {
            return {
                text: propertyName,
                data: { node: statisticsNode, isStatistics: true },
            };
        }

        function getNavigationTreeStructure(navigation) {
            var tree = {};
            buildNavigation(navigation, tree);

            var result = tree.children[0];
            result.state = { opened: true };

            return result;
        }

        function buildNavigation(node, result) {
            var treeNode = createNavigationTreeNode(node);
            if (result.children === undefined) result.children = [];

            result.children.push(treeNode);
            if (node.Items !== undefined) {
                for (var child in node.Items) buildNavigation(node.Items[child], treeNode);
            }
        }

        function createNavigationTreeNode(node) {
            return {
                text: getNavigationNodeName(node),
                data: { id: node.QueryElementId, contains: node.Contains, sql: node.SQL },
            };
        }

        function getNavigationNodeName(node) {
            var type = node.QueryElementType.toLowerCase();
            var result = '';
            var containsSet = false;

            switch (type) {
                case 'root':
                    result = 'Query';
                    break;

                case 'cte':
                    result = 'CTE';
                    break;

                case 'uniongroup':
                    result = '(GROUP)';
                    break;

                case 'unionsubquery':
                    result = 'SELECT';
                    break;

                case 'subquery':
                    var location = node.Location;
                    if (location == null) result = 'SubQuery';
                    else {
                        if (location.toLowerCase() == 'from') result = 'Derived table';
                        else result = 'SubQuery in expression';
                    }

                    var contains = node.Contains;
                    if (contains != null && contains.toLowerCase() == 'set') {
                        containsSet = true;
                    }
                    break;

                default:
            }

            var name = node.Name;
            if (name != null) result += ' "' + name + '"';

            if (containsSet) result += ' (SET)';

            return result;
        }

        function dfs(node) {
            if (typeof node === 'string') return;

            for (var item in node) {
                if (!node.hasOwnProperty(item)) continue;

                if (item === 'QueryElementId') queryElements[node[item]] = node;

                if (item === 'ReferencedQueryElementId') {
                    if (!cteReferences[node[item]]) cteReferences[node[item]] = [];

                    cteReferences[node[item]].push(queryElements[node[item]]);
                }

                dfs(node[item]);
            }
        }

        function clearJsonEditors() {
            rootViewer.set({});
        }

        function showError(err) {
            clearJsonEditors();

            $('.field-validation-error').show();
            $('#parse-error').text(err);
        }
    </script>
</section>