<section class="help">
    <div class="help__container container">
        <div class="help__info help__answer">
            <h2>Didn't find the answer to your question?</h2>
            <a href="#" class="contact__us">Contact us</a>
        </div>
    </div>
</section>
