<section class="business">
    <div class="business__container container">
        <h3>Business users demand fresh analytical data from IT systems</h3>
        <div class="business__wrapper">
            <div class="business__items business__violet">
                <span>Embedded reports can’t cover urgent data needs, so end-users ask for assistancefrom the developers.<br />
                    <b>How not to be snowed under with user requests for data but let them serve themselves?</b>
                </span>
            </div>
            <div class="business__items business__blue">
                <span>Most users don’t have enough experience in writing SQL queries.<br />
                    <b>Can we grant users the right to query data without the risk of shooting themselves in the leg?</b>
                </span>
            </div>
            <div class="business__items business__aqua">
                <span>Even if they know SQL a bit, they don’t know the database schema.<br />
                    <b>How to bridge the gap of SQL knowledge and give users the idea of the database schema?</b>
                </span>
            </div>
            <div class="business__circle">
                <div class="business__circle_title">
                    <span class="business__circle_title_text">Can a visual query builder be a solution for this challenge?</span>
                    <span class="business__circle_title_yes">Yes!</span>
                </div>
            </div>
        </div>
    </div>
</section>
