<section class="demo__projects">
    <div class="demo__projects_container container">
        <h2>In a couple of hours...</h2>
        <div class="demo__projects_subtitle">
            Download a free trial of Active Query Builder, with plenty of demo projects, and build
            your proof-of-concept in a couple of hours.
        </div>
        <div class="tabs__title tabs__title_projects">
            <div class="tabs__title_item tabs__title_item_projects tabs__title_item--active" data-tabs="1">WinForms</div>
            <div class="tabs__title_item tabs__title_item_projects" data-tabs="2">WPF</div>
            <div class="tabs__title_item tabs__title_item_projects" data-tabs="3">ASP.NET</div>
            <div class="tabs__title_item tabs__title_item_projects" data-tabs="4">Delphi</div>
            <div class="tabs__title_item tabs__title_item_projects" data-tabs="5">Java</div>
            <div class="tabs__title_item tabs__title_item_projects" data-tabs="6">Active X</div>
        </div>
        <div class="tabs__select_mobile">
            <span class="tabs__select_title">Choose your environment</span>
            <select name="" id="tabs__select" class="tabs__select_item">
                <option value="1">WinForms</option>
                <option value="2">WPF</option>
                <option value="3">ASP.NET</option>
                <option value="4">Delphi</option>
                <option value="5">Java</option>
                <option value="6">Active X</option>
            </select>
        </div>
        <div class="tabs__container tabs__container_projects">
            <div class="tabs__content tabs__content_projects tabs__content--active" data-tabs="1">
                <div class="tabs__image_projects">
                    <img src="./img/demo-app1.png" alt="" />
                </div>
                <div class="tabs__list tabs__list_projects">
                    <div class="tabs__info tabs__info_projects">
                        A set of visual components for WinForms to create a feature-rich facility to
                        build SQL queries visually and extract data backed with an API to analyze
                        and modify SQL queries.
                    </div>
                    <ul>
                        <li>Visual SQL query builder and filter builder.</li>
                        <li>SQL text editor with code completion and syntax highlighting.</li>
                        <li>Powerful API to analyze and modify SQL queries.</li>
                    </ul>
                    <span>Compatible with .NET Framework 4.x, .NET Core up to 3.1, .NET 5 & 6.</span>
                    <a href="#">Download free trial</a>
                </div>
            </div>
            <div class="tabs__content tabs__content_projects" data-tabs="2">
                <div class="tabs__image_projects">
                    <img src="./img/demo-app1.png" alt="" />
                </div>
                <div class="tabs__list tabs__list_projects">
                    <div class="tabs__info tabs__info_projects">
                        A set of visual components for WPF to create a feature-rich facility to
                        build SQL queries visually and extract data. Has an API to build and analyze
                        SQL queries.
                    </div>
                    <ul>
                        <li>Visual SQL query builder and filter builder.</li>
                        <li>SQL text editor with code completion and syntax highlighting.</li>
                        <li>Powerful API to analyze and modify SQL queries.</li>
                    </ul>
                    <span>Compatible with .NET Framework 4.x, .NET Core up to 3.1, .NET 5 & 6.</span>
                    <a href="#">Download free trial</a>
                </div>
            </div>
            <div class="tabs__content tabs__content_projects" data-tabs="3">
                <div class="tabs__image_projects">
                    <img src="./img/demo-app1.png" alt="" />
                </div>
                <div class="tabs__list tabs__list_projects">
                    <div class="tabs__info tabs__info_projects">
                        Active Query Builder ASP.NET Edition provides a native way to embed a visual
                        query builder into a webpage.
                    </div>
                    <ul>
                        <li>
                            Compatible with WebForms, ASP.NET MVC, and client-side rendering SPA
                            apps.
                        </li>
                        <li>
                            Works fine with ReactJs, Angular, Vue, Electron, and other frontend
                            frameworks.
                        </li>
                        <li>
                            Can be used as a service with any server-side technology (including but
                            not limited to Node JS, Java, Python, Ruby, etc.), packed into a docker
                            container.
                        </li>
                        <li>
                            Compatible with web farms with load-balancing, stateless (Corporate
                            version).
                        </li>
                    </ul>
                    <span>Compatible with .NET Framework 4.x, .NET Core up to 3.1, .NET 5 & 6.</span>
                    <a href="#">Download free trial</a>
                </div>
            </div>
            <div class="tabs__content tabs__content_projects" data-tabs="4">
                <div class="tabs__image_projects">
                    <img src="./img/demo-app1.png" alt="" />
                </div>
                <div class="tabs__list tabs__list_projects">
                    <div class="tabs__info tabs__info_projects">
                        Active Query Builder VCL Edition lets users combine visual query building
                        with direct SQL query text editing and has an API to build and analyze SQL
                        queries.
                    </div>
                    <ul>
                        <li>
                            Supports all versions of Delphi and C++ Builder starting from 5, up to
                            RAD Studio 11, 32- and 64-bit compilers.
                        </li>
                        <li>
                            Works with the vast majority of standard and third-party Data Access
                            Components.
                        </li>
                        <li>Supports VCL Styles, Right-to-Left script languages.</li>
                        <li>Can be compiled with standard VCL, TNT, or DevExpress controls.</li>
                    </ul>
                    <a href="#">Download free trial</a>
                </div>
            </div>
            <div class="tabs__content tabs__content_projects" data-tabs="5">
                <div class="tabs__image_projects">
                    <img src="./img/demo-app1.png" alt="" />
                </div>
                <div class="tabs__list tabs__list_projects">
                    <div class="tabs__info tabs__info_projects">
                        Active Query Builder Java Edition is a visual SQL query builder component
                        suite that allows your end users to build complex SQL queries via an
                        intuitive visual interface.
                    </div>
                    <ul>
                        <li>Built using standard Swing controls.</li>
                        <li>Compatible with JRE 6-8.</li>
                        <li>Can be used in Java applets.</li>
                        <li>
                            Supports all modern Java IDEs. Tested with NetBeans, Eclipse and
                            IntelliJ IDEA.
                        </li>
                    </ul>
                    <a href="#">Download free trial</a>
                </div>
            </div>
            <div class="tabs__content tabs__content_projects" data-tabs="6">
                <div class="tabs__image_projects">
                    <img src="./img/demo-app1.png" alt="" />
                </div>
                <div class="tabs__list tabs__list_projects">
                    <div class="tabs__info tabs__info_projects">
                        Active Query Builder ActiveX Edition is a visual COM control that lets
                        end-users combine visual query building with direct SQL query text editing.
                    </div>
                    <ul>
                        <li>
                            Supports Visual Studio, PowerBuilder, and other ActiveX-enabled IDEs.
                        </li>
                        <li>Can be used in VBA applications, such as MS Excel and MS Access.</li>
                        <li>Works in any ActiveX-compatible environment: Win32, .NET, IE.</li>
                        <li>Available for x32 and x64 environments.</li>
                    </ul>
                    <a href="#">Download free trial</a>
                </div>
            </div>
        </div>
    </div>
</section>
