<section class="demo__features">
    <div class="demo__img demo__img_left">
        <img src="./img/features-img1.png" alt="" />
    </div>
    <div class="demo__features_wrapper">
        <div class="demo__features_items">
            <div class="demo__features_title">Demo features:</div>
            <ul>
                <li>Connect to predefined databases (MySQL, PostgreSQL, SQLite).</li>
                <li>Get a list of query parameters and ask the user for their values upon execution.</li>
                <li>Get the summary information about database objects usage.</li>
                <li>Browse the results or export them to MS Excel (.xslx).*</li>
                <li>Store and edit user queries.</li>
                <li>Execute SQL queries.</li>
                <li>Hold the history of changes.</li>
            </ul>
            <span>* Open-source third-party controls and libraries are used for viewing and exporting.</span>
            <a href="#">Try now</a>
        </div>
    </div>
    <div class="demo__img demo__img_right">
        <img src="./img/features-img2.png" alt="" />
    </div>
</section>