<section class="effective">
    <div class="effective__container container">
        <h2>Why Active Query Builder?</h2>
        <div class="effective__wrapper">
            <div class="effective__items">
                <img src="./img/effective-img1.png" alt="" />
                <div class="effective__content">
                    <span>Efficient</span>
                    <ul>
                        <li>End users will become more productive than ever.</li>
                        <li>Tasks sent from end users to analysts will decrease.</li>
                        <li>
                            The amount of time to generate a required report will decrease
                            drastically.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="effective__items">
                <img src="./img/effective-img2.png" alt="" />
                <div class="effective__content">
                    <span>Productive</span>
                    <ul>
                        <li>
                            End users will be able to build SQL queries to databases by themselves.
                        </li>
                        <li>
                            You will be able to decrease the time to market of your solutions with
                            AQB integrated.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="effective__items">
                <img src="./img/effective-img3.png" alt="" />
                <div class="effective__content">
                    <span>Safe</span>
                    <ul>
                        <li>
                            Protection against unwanted access to data on the objects level and row
                            level.
                        </li>
                        <li>Protection against SQL injection.</li>
                    </ul>
                </div>
            </div>
            <div class="effective__items">
                <img src="./img/effective-img4.png" alt="" />
                <div class="effective__content">
                    <span>Easy-to-use</span>
                    <ul>
                        <li>
                            Your end users will benefit from AQB’s easy-to-use solutions when they
                            need to build or analyze queries.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
