<section class="header__features header-bg">
    <div class="header__features_wrapper container header__features_wrapper_database">
        <div class="header__features_title header__features_title_database">
            <span class="header__features_title-span">Key features and functionalities</span>
            <h1 class="header__features_title-h1 header__features_title-h1-metadata">Database schema presentation and metadata caching</h1>
            <p class="header__features_title-p">User queries are no longer black boxes or trojan horses!</p>
        </div>
        <img class="header__features_bg header__features_database" src="./img/features3-bg.png" alt="" />
    </div>
</section>