<section class="header__features header-bg">
    <div class="header__features_wrapper container header__features_wrapper_database">
        <div class="header__features_title header__features_title_analysis">
            <span class="header__features_title-span">Key features and functionalities</span>
            <h1 class="header__features_title-h1 header__features_title-h1-analysis">SQL Query Analysis and Modification by code</h1>
            <p class="header__features_title-p">Active Query Builder allows you to reverse engineer, analyze and programmatically modify SQL queries.</p>
        </div>
        <img class="header__features_bg header__features_analysis" src="./img/features4-bg.png" alt="" />
    </div>
</section>