<section class="features features__building">
    <div class="features__building_wrapper container">
        <h1 class="features__building_title">Drag'n'drop UI that guides you toward correct SQL queries in seconds</h1>
        <div class="features__building_block-left">
            <div class="features__building_header">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon5.png" alt="" />
                    <h3 class="features__building_text-h3">Configurable Database Schema Tree </h3>
                </div>
                <span class="features__building_text-span features__building_text-span--margin">Browse a database schema of any complexity, find and add objects to the query in seconds. The most needed objects are always at your fingertips!</span>
            </div>
            <div class="features__building_content">
                <div class="features__building_screen">
                    <img class="features__building_img-screen features__building_img--active" src="./img/building-img3.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img2.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img1.png" alt="" />
                </div>
                <div class="features__building_list">
                    <ul class="features__building_list-ul">
                        <li class="features__building_list-li features__building_list-li--active">Search by objects and fields.</li>
                        <li class="features__building_list-li">Browse object fields right in the tree or in the details pane.</li>
                        <li class="features__building_list-li">Mark frequently used objects as favorites for quick access.</li>
                    </ul>
                </div>
                <div class="features__building_list--mobile">
                    <div class="features__building_row">Search by objects and fields.</div>
                    <div class="features__building_items">
                        <div class="features__building_item">Search by objects and fields.</div>
                        <div class="features__building_item">Browse object fields right in the tree or in the details pane.</div>
                        <div class="features__building_item">Mark frequently used objects as favorites for quick access.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__building_block-left">
            <div class="features__building_header">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon4.png" alt="" />
                    <h3 class="features__building_text-h3">Self-Explanatory Query Diagram</h3>
                </div>
                <div class="features__building_text">
                    <span class="features__building_text-span features__building_text-span--margin">Take just one look at the structure of object relationships in a query, see the fields used, see how they are used, and make adjustments immediately. Enable visual thinking!</span>
                </div>
            </div>
            <div class="features__building_content">
                <div class="features__building_screen">
                    <img class="features__building_img-screen features__building_img--active" src="./img/building-img2.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img3.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img1.png" alt="" />
                </div>
                <div class="features__building_list">
                    <ul class="features__building_list-ul">
                        <li class="features__building_list-li features__building_list-li--active">Preview panel for easy navigation in large-scale diagrams.</li>
                        <li class="features__building_list-li">WPF: ability to change the scale.</li>
                        <li class="features__building_list-li">Hide unused fields to narrow the focus to what's important.</li>
                    </ul>
                </div>
                <div class="features__building_list--mobile">
                    <div class="features__building_row">Preview panel for easy navigation in large-scale diagrams.</div>
                    <div class="features__building_items">
                        <div class="features__building_item">Preview panel for easy navigation in large-scale diagrams.</div>
                        <div class="features__building_item">WPF: ability to change the scale.</div>
                        <div class="features__building_item">Hide unused fields to narrow the focus to what's important.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__building_block-left">
            <div class="features__building_header">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon6.png" alt="" />
                    <h3 class="features__building_text-h3">Add Objects to the Query with No Hassle</h3>
                </div>
                <div class="features__building_text">
                    <span class="features__building_text-span features__building_text-span--margin">Find the needed objects and add them to the query in a few clicks, correctly joined. Avoid errors constructing FROM clauses!</span>
                </div>
            </div>
            <div class="features__building_content">
                <div class="features__building_screen">
                    <img class="features__building_img-screen features__building_img--active" src="./img/building-img1.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img2.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img3.png" alt="" />
                </div>
                <div class="features__building_list">
                    <ul class="features__building_list-ul">
                        <li class="features__building_list-li features__building_list-li--active">Objects are found in the database tree and added to the query with drag-and-drop or double-click.</li>
                        <li class="features__building_list-li">Browse the referenced and referring objects and add them to the query in a single click. New objects get joined with the primary object right away.</li>
                        <li class="features__building_list-li">Optionally, any two objects dropped on the canvas can be joined by adding the intermediate tables in between if such a join path exists.</li>
                    </ul>
                </div>
                <div class="features__building_list--mobile">
                    <div class="features__building_row">Objects are found in the database tree and added to the query with drag-and-drop or double-click.</div>
                    <div class="features__building_items">
                        <div class="features__building_item">Objects are found in the database tree and added to the query with drag-and-drop or double-click.</div>
                        <div class="features__building_item">Browse the referenced and referring objects and add them to the query in a single click. New objects get joined with the primary object right away.</div>
                        <div class="features__building_item">Optionally, any two objects dropped on the canvas can be joined by adding the intermediate tables in between if such a join path exists.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__building_block-left">
            <div class="features__building_header">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon7.png" alt="" />
                    <h3 class="features__building_text-h3">Deal with Query Objects and Columns Visually</h3>
                </div>
                <div class="features__building_text">
                    <span class="features__building_text-span features__building_text-span--margin">Easily adjust all the joins and column properties right on the diagram! Don't waste time searching for a place in the text to change an option.</span>
                </div>
            </div>
            <div class="features__building_content">
                <div class="features__building_screen">
                    <img class="features__building_img-screen features__building_img--active" src="./img/building-img1.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img2.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img3.png" alt="" />
                </div>
                <div class="features__building_list">
                    <ul class="features__building_list-ul">
                        <li class="features__building_list-li features__building_list-li--active">Searching by object fields allows you to quickly find the required field.</li>
                        <li class="features__building_list-li">Find any request column on the diagram: in the list of table fields, used fields are checked. Indicators display sorting, filters, grouping, and aggregations. You can change them in place via the context menu.</li>
                        <li class="features__building_list-li">Object aliases, join types, and query properties (DISTINCT, TOP, LIMIT, etc., depending on the SQL dialect) are managed in the property pane on the right.</li>
                    </ul>
                </div>
                <div class="features__building_list--mobile">
                    <div class="features__building_row">Searching by object fields allows you to quickly find the required field.</div>
                    <div class="features__building_items">
                        <div class="features__building_item">Searching by object fields allows you to quickly find the required field.</div>
                        <div class="features__building_item">Find any request column on the diagram: in the list of table fields, used fields are checked. Indicators display sorting, filters, grouping, and aggregations. You can change them in place via the context menu.</div>
                        <div class="features__building_item">Object aliases, join types, and query properties (DISTINCT, TOP, LIMIT, etc., depending on the SQL dialect) are managed in the property pane on the right.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__building_block-left">
            <div class="features__building_header">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon8.png" alt="" />
                    <h3 class="features__building_text-h3">Define Sorting, Grouping and Aggregation in One Click</h3>
                </div>
                <div class="features__building_text">
                    <span class="features__building_text-span features__building_text-span--margin">See all the query column options in a single view. Everything scattered around the query in different clauses is now brought together and always at hand!</span>
                </div>
            </div>
            <div class="features__building_content">
                <div class="features__building_screen">
                    <img class="features__building_img-screen features__building_img--active" src="./img/building-img2.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img1.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img3.png" alt="" />
                </div>
                <div class="features__building_list">
                    <ul class="features__building_list-ul">
                        <li class="features__building_list-li features__building_list-li--active">Manage query columns and their options in a compact grid view: set column names, do sorting, grouping, and aggregation, and define criteria.</li>
                        <li class="features__building_list-li">Define calculated columns by typing SQL expressions via the inline cell editor or external multi-line editor with code completion and syntax highlighting.</li>
                        <li class="features__building_list-li">Query columns can be easily re-ordered by drag-and-drop.</li>
                    </ul>
                </div>
                <div class="features__building_list--mobile">
                    <div class="features__building_row">Manage query columns and their options in a compact grid view: set column names, do sorting, grouping, and aggregation, and define criteria.</div>
                    <div class="features__building_items">
                        <div class="features__building_item">Manage query columns and their options in a compact grid view: set column names, do sorting, grouping, and aggregation, and define criteria.</div>
                        <div class="features__building_item">Define calculated columns by typing SQL expressions via the inline cell editor or external multi-line editor with code completion and syntax highlighting.</div>
                        <div class="features__building_item">Query columns can be easily re-ordered by drag-and-drop.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__building_block_warning">
            <div class="features__building_header">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/warning.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-warning">Limitations</h3>
                </div>
                <div class="features__building_text">
                    <span class="features__building_text-span features__building_text-span--margin">** Active Query Builder can visually parse and represent SELECT statements only. Other types of statements can only be edited by text.</span>
                </div>
                <a href="#" class="features__building_text-a">Vote to eliminate this limitation</a>
            </div>
        </div>
    </div>
</section>