<section class="features">
    <div class="features__wrapper container">
        <h2 class="features__modules-h1">Add the SQL query building module to your software and get:</h2>
        <div class="features__modules_list">
            <ul class="features__modules-ul features__modules-ul-3">
                <li class="features__modules-li features__modules-li-3">
                    <div class="features__modules_content">
                        <img class="features__modules-img features__modules-img-database" src="./img/features-modules1.png" alt="" />
                        <h3 class="features__modules-h3">Visual Query Builder User Interface</h3>
                        <span class="features__modules-span">Let even novice users feel like SQL pros!</span>
                    </div>
                    <button class="features__modules-btn" type="button">Learn more</button>
                </li>
                <li class="features__modules-li features__modules-li-3">
                    <div class="features__modules_content">
                        <img class="features__modules-img features__modules-img-database" src="./img/features-modules2.png" alt="" />
                        <h3 class="features__modules-h3">SQL Query Analysis and Modification by code</h3>
                        <span class="features__modules-span">Prepare a clear view of your database schema for end users.</span>
                    </div>
                    <button class="features__modules-btn" type="button">Learn more</button>
                </li>
                <li class="features__modules-li features__modules-li-3">
                    <div class="features__modules_content">
                        <img class="features__modules-img features__modules-img-database" src="./img/features-modules4.png" alt="" />
                        <h3 class="features__modules-h3">Powerful tools to build SQL query modules</h3>
                        <span class="features__modules-span">Build a professional SQL query building module in hours!</span>
                    </div>
                    <button class="features__modules-btn" type="button">Learn more</button>
                </li>
            </ul>
        </div>
    </div>
</section>