<section class="header__features header-bg">
    <div class="header__features_wrapper container">
        <div class="header__features_title">
            <h1 class="header__features_title-h1">Key features and functionalities</h1>
            <p class="header__features_title-p">Active Query Builder is not just a visual editor for creating SQL queries, but a robust tool for handling all the developer tasks to add a professional SQL query module to your app.</p>
        </div>
        <img class="header__features_bg" src="./img/features1-bg.png" alt="" />
    </div>
</section>
