<section class="header__features header-bg">
    <div class="header__features_wrapper container header__features_wrapper_database">
        <div class="header__features_title header__features_title_analysis">
            <span class="header__features_title-span">Key features and functionalities</span>
            <h1 class="header__features_title-h1 header__features_title-h1-analysis">Powerful tools to build SQL query modules</h1>
            <p class="header__features_title-p">Build a professional SQL query building module in hours!</p>
        </div>
        <img class="header__features_bg header__features_tools" src="./img/features5-bg.png" alt="" />
    </div>
</section>