<section class="features features__building">
    <div class="features__building_wrapper container">
        <h1 class="features__building_title">Handle SQL queries as if they were objects in your ORM!</h1>
        <div class="features__building_block-right">
            <div class="features__building_header features__building_header-right features__metadata_header-right">
                <div class="features__building_title-block features__building_title-analysis">
                    <img class="features__building_icon" src="./img/building-icon19.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-h3-right">Make changes to SQL queries on the fly</h3>
                </div>
                <div class="features__tools_text-block">
                    <span class="features__tools_text-block-span">When a user completes the query building process, they are eager to execute it and manage the outputs: sort, filter and calculate totals.</span>
                    <span class="features__tools_text-block-span">Forcing the user to go back to the query and make changes is not exactly part of a user-friendly UI, right?</span>
                    <span class="features__tools_text-block-span">Active Query Builder helps get things done right!</span>
                </div>
                <span class="features__tools_subtitle-bold features__tools_subtitle-bold-margin">Use case #1: For fast and convenient data browsing, it is required to apply filters, sorting and pagination to a dataset returned by a user-defined query</span>
                <div class="features__tools_list-grid">
                    <div class="features__tools_item features__tools_item-center"><img class="features__tools_item-icon" src="./img/tools-1.png" alt=""/></div>
                    <div class="features__tools_item features__tools_item-title"><span class="features__tools_item-span">Challenge:</span> A user's query can return tons of records, so handling them on the client would be very expensive. Changing a query manually without knowing its structure and properties is unreliable.</div>
                    <div class="features__tools_item features__tools_item-center features__tools_item3"><img class="features__tools_item-icon" src="./img/tools-2.png" alt=""/></div>
                    <div class="features__tools_item features__tools_item2"><span class="features__tools_item-span">Solution:</span> The special API to transform SQL queries can change any query, so its result data scope won't be changed, but different sorting, additional filters and pagination will be applied. It can generate an additional query to calculate totals for columns.</div>
                    <div class="features__tools_item features__tools_item-center"><img class="features__tools_item-icon" src="./img/tools-3.png" alt=""/></div>
                    <div class="features__tools_item features__tools_item2"><span class="features__tools_item-span">Extra:</span> AQB provides a handy visual editor to define conditions. It allows auto completion and data lookup for correct value selection and can combine them to define complex criteria.</div>
                    <div class="features__tools_item-img"><img src="./img/tools-img.png" alt="" /></div>
                </div>
                <span class="features__tools_subtitle-bold features__tools_subtitle-bold-margin">Use case #2: A salesperson should be able to browse only the orders that they handle.</span>
                <div class="features__tools_list-grid">
                    <div class="features__tools_item features__tools_item-center"><img class="features__tools_item-icon" src="./img/tools-1.png" alt=""/></div>
                    <div class="features__tools_item features__tools_item-title"><span class="features__tools_item-span">Challenge:</span> We need to seamlessly add conditions to the query to hide sensitive data.</div>
                    <div class="features__tools_item features__tools_item-center"><img class="features__tools_item-icon" src="./img/tools-2.png" alt=""/></div>
                    <div class="features__tools_item features__tools_item-title"><span class="features__tools_item-span">Solution:</span> We can use the same query transformation API to protect the data by applying extra conditions.</div>
                </div>
                <h1 class="features__building_title features__metadata_second_title features__metadata_second_title-tools">Handle parameter in user queries</h1>
                <div class="features__building_subtitle-tools">
                    <span class="features__building_subtitle-tools-span">Writing SQL queries isn't a business user's cup of tea. Parameterized queries make it possible to reuse queries to get the required data almost instantly.</span>
                    <span class="features__building_subtitle-tools-span">However, the system should detect parameters in user queries to handle them appropriately.</span>
                    <span class="features__building_subtitle-tools-span">AQB not only lets developers find parameters in user queries, but shows to which fields they apply and how, so they can build a friendly UI to define their values or do it by code.</span>
                    <span class="features__building_subtitle-tools-span">If you build detailed reports employing user-defined queries, you can guide users to define parameters in the right way.</span>
                </div>
                <div class="features__building_title-block features__building_title-analysis-subtitle">
                    <img class="features__building_icon" src="./img/building-icon20.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-h3-right">Cut off unused parameters from the query</h3>
                </div>
                <span class="features__tools_subtitle-bold features__tools_subtitle-bold-margin-no">Use case #3: A user wants to define a universal query to search for as many criteria as possible, but to employ only a few of them at a time.</span>
                <div class="features__tools_list-grid">
                    <div class="features__tools_item features__tools_item-center"><img class="features__tools_item-icon" src="./img/tools-1.png" alt=""/></div>
                    <div class="features__tools_item features__tools_item-title"><span class="features__tools_item-span">Challenge:</span> To do that, he creates a query with lots of parameters, but the server reports an error if values aren't assigned to all of them.</div>
                    <div class="features__tools_item features__tools_item-center"><img class="features__tools_item-icon" src="./img/tools-2.png" alt=""/></div>
                    <div class="features__tools_item features__tools_item-title"><span class="features__tools_item-span">Solution:</span> AQB provides an API to apply parameter values and cut off conditions with unused parameters from the query.</div>
                    <div class="features__tools_item features__tools_item-center"><img class="features__tools_item-icon" src="./img/tools-3.png" alt=""/></div>
                    <div class="features__tools_item features__tools_item2"><span class="features__tools_item-span">Extra:</span> If the user wants to apply a set of values using the IN operator with just one parameter for a list, AQB replaces such a parameter in the query text to a list of values.</div>
                </div>
                <span class="features__building_text-learn features__building_text-learn-tools">Learn more in the AQB Knowledge Base:</span>
                <div class="features__analysis_block-link">
                    <a href="#" class="features__metadata_text-link">1. Defining friendly names for database objects and fields.</a>
                    <a href="#" class="features__metadata_text-link">2. How to detect parameters in user queries</a>
                </div>
                <h1 class="features__building_title features__metadata_second_title features__metadata_second_title-tools">Advanced features</h1>
                <div class="features__building_block-right features__building_block-right-tools">
                    <div class="features__building_header features__building_header-right features__metadata_header-right">
                        <div class="features__building_title-block features__building_title-analysis">
                            <img class="features__building_icon" src="./img/building-icon21.png" alt="" />
                            <h3 class="features__building_text-h3 features__building_text-h3-right">Work with SQL scripts</h3>
                        </div>
                        <div class="features__metadata_text-block features__tools_text-block">
                            <span class="features__metadata_text-block-span">Active Query Builder provides a special class to break complex SQL scripts into statements.* It's better to use the SQL Text Editor control to run and edit complex SQL scripts. Adding a visual query builder to the toolbox allows users to edit SELECT statements in the script visually.</span>
                            <span class="features__tools_expl">* Only in the VCL Edition.</span>
                        </div>
                    </div>
                </div>
                <div class="features__building_block-right features__building_block-right-tools">
                    <div class="features__building_header features__building_header-right features__metadata_header-right">
                        <div class="features__building_title-block features__building_title-analysis">
                            <img class="features__building_icon" src="./img/building-icon22.png" alt="" />
                            <h3 class="features__building_text-h3 features__building_text-h3-right">SQL queries as client-side views</h3>
                        </div>
                        <div class="features__metadata_text-block features__tools_text-block">
                            <span class="features__tools_text-block-span features__tools_text-block-span-bold">Let users create client-side views to use them in other queries.</span>
                            <span class="features__tools_text-block-span">Professional query writers can benefit from creating their own repository of frequently used query templates. They allow users to simplify complex queries and boost their performance.</span>
                            <span class="features__tools_text-block-span">With a query saved in the repository, the user can drag it to a new query as an ordinary database object. Active Query Builder seamlessly expands such objects into derived tables or CTE.</span>
                        </div>
                    </div>
                </div>
                <div class="features__building_block-right features__building_block-right-tools">
                    <div class="features__building_header features__building_header-right features__metadata_header-right">
                        <div class="features__building_title-block features__building_title-analysis">
                            <img class="features__building_icon" src="./img/building-icon23.png" alt="" />
                            <h3 class="features__building_text-h3 features__building_text-h3-right">Let users establish DB connections and fine-tune component properties</h3>
                        </div>
                        <div class="features__metadata_text-block features__tools_text-block">
                            <span class="features__tools_text-block-span features__tools_text-block-span-margin-top">For those who want to let tech-savvy users establish their own DB connections and fine-tune the component properties themselves, AQB provides a set of ready-to-use forms to perform these tasks.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>