<section class="features features__building">
    <div class="features__building_wrapper container">
        <h1 class="features__building_title">Simplifying the query building process</h1>
        <div class="features__building_block-left">
            <div class="features__building_header">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon1.png" alt="" />
                    <h3 class="features__building_text-h3">Error-Free SQL Queries: Even a Newbie Will Work Like a Pro!</h3>
                </div>
                <span class="features__building_text-span features__building_text-span--margin">Active Query Builder detects syntax and semantic errors in the query immediately. This component helps users clearly see their mistakes and provides them with delicate hints indicating the error location.</span>
            </div>
            <div class="features__building_content">
                <div class="features__building_screen">
                    <img class="features__building_img-screen features__building_img--active" src="./img/building-img1.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img2.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img3.png" alt="" />
                </div>
                <div class="features__building_list">
                    <ul class="features__building_list-ul">
                        <li class="features__building_list-li features__building_list-li--active">The component actively prevents incorrect column sets in SELECT and GROUP BY clauses.</li>
                        <li class="features__building_list-li">Erroneous expressions are detected, and the user is gently guided by the system to fix it.</li>
                        <li class="features__building_list-li">The component alerts the user about suspicious cases, such as columns with similar names in one query.</li>
                    </ul>
                </div>
                <div class="features__building_list--mobile">
                    <div class="features__building_row">The component actively prevents incorrect column sets in SELECT and GROUP BY clauses.</div>
                    <div class="features__building_items">
                        <div class="features__building_item">The component actively prevents incorrect column sets in SELECT and GROUP BY clauses.</div>
                        <div class="features__building_item">Erroneous expressions are detected, and the user is gently guided by the system to fix it.</div>
                        <div class="features__building_item">The component alerts the user about suspicious cases, such as columns with similar names in one query.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__building_block-right">
            <div class="features__building_header features__building_header-right">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon2.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-h3-right">Subquery Preview Ensures Instant Feedback</h3>
                </div>
                <span class="features__building_text-span">When editing a subquery in Active Query Builder, the user can browse its results right away, so they can easily understand if they entered the query incorrectly.</span>
            </div>
            <img class="features__building_img features__building_img-right" src="./img/building-img2.png" alt="" />
        </div>
        <div class="features__building_block-left">
            <div class="features__building_header">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon3.png" alt="" />
                    <h3 class="features__building_text-h3">Professional SQL Text Editing and Formatting</h3>
                </div>
                <div class="features__building_text">
                    <span class="features__building_text-span features__building_text-span--margin">SQL text reading and modification using Active Query Builder makes pros feel right at home!</span>
                </div>
            </div>
            <div class="features__building_content">
                <div class="features__building_screen">
                    <img class="features__building_img-screen features__building_img--active" src="./img/building-img3.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img2.png" alt="" />
                </div>
                <div class="features__building_list">
                    <ul class="features__building_list-ul">
                        <li class="features__building_list-li features__building_list-li--active">Advanced SQL Text Editor with autocomplete and syntax highlighting for convenient SQL text modification.</li>
                        <li class="features__building_list-li">Customizable SQL query text formatting. The user can choose from predefined formatting templates or build their own.</li>
                    </ul>
                </div>
                <div class="features__building_list--mobile">
                    <div class="features__building_row">Advanced SQL Text Editor with autocomplete and syntax highlighting for convenient SQL text modification.</div>
                    <div class="features__building_items">
                        <div class="features__building_item">Advanced SQL Text Editor with autocomplete and syntax highlighting for convenient SQL text modification.</div>
                        <div class="features__building_item">Customizable SQL query text formatting. The user can choose from predefined formatting templates or build their own.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__building_block-left">
            <div class="features__building_header">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon4.png" alt="" />
                    <h3 class="features__building_text-h3">Reverse Engineering</h3>
                </div>
                <div class="features__building_text">
                    <span class="features__building_text-span features__building_text-span--margin">Active Query Builder parses SQL queries and constructs a visual diagram for quicker understanding.</span>
                </div>
            </div>
            <div class="features__building_content">
                <div class="features__building_screen">
                    <img class="features__building_img-screen features__building_img--active" src="./img/building-img1.png" alt="" />
                    <img class="features__building_img-screen" src="./img/building-img2.png" alt="" />
                </div>
                <div class="features__building_list">
                    <ul class="features__building_list-ul">
                        <li class="features__building_list-li features__building_list-li--active">Expert users can grasp the structure of a complex query in seconds.</li>
                        <li class="features__building_list-li">Users can combine visual query building with direct SQL text editing to get the most out of the two and find their own way to work with SQL queries.</li>
                    </ul>
                </div>
                <div class="features__building_list--mobile">
                    <div class="features__building_row">Expert users can grasp the structure of a complex query in seconds.</div>
                    <div class="features__building_items">
                        <div class="features__building_item">Expert users can grasp the structure of a complex query in seconds.</div>
                        <div class="features__building_item">Users can combine visual query building with direct SQL text editing to get the most out of the two and find their own way to work with SQL queries.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>