<section class="header__features header-bg">
    <div class="header__features_wrapper container header__features_wrapper_user">
        <div class="header__features_title header__features_title_user">
            <span class="header__features_title-span">Key features and functionalities</span>
            <h1 class="header__features_title-h1">Visual Query Builder User Interface</h1>
            <p class="header__features_title-p">Let even novice users feel like SQL pros!</p>
        </div>
        <img class="header__features_bg header__features_user" src="./img/features2-bg.png" alt="" />
    </div>
</section>