<section class="features features__building">
    <div class="features__building_wrapper container">
        <h1 class="features__building_title">Metadata handling</h1>
        <div class="features__building_subtitle features__metadata_subtitle">
            <span class="features__building_subtitle-span">To help you build, parse and accurately diagram SQL queries, Active Query Builder needs to get the whole picture of the underlying database schema.</span>
            <span class="features__building_subtitle-span">The more complete the metadata, the more help and hints you will get.</span>
        </div>
        <div class="features__building_block-right">
            <div class="features__building_header features__building_header-right features__metadata_header-right">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon10.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-h3-right">Extracting and storing metadata</h3>
                </div>
                    <div class="features__metadata_text-block">
                        <ul class="features__metadata_text-block-ul">With AQB, you can extract:
                            <li class="features__metadata_text-block-li">Lists of databases, schemas and other namespaces => to build the DB schema tree</li>
                            <li class="features__metadata_text-block-li">Lists of database objects and their primary and foreign keys => to join them accurately</li>
                            <li class="features__metadata_text-block-li">Lists of fields and their attributes => to choose and use them in queries correctly</li>
                            <li class="features__metadata_text-block-li">Default schemas, server settings, etc. => to build correct queries based on the context</li>
                        </ul>
                        <span class="features__metadata_text-block-span">With a set of queries designed for any database server, it's easy to extract metadata accurately. If the server is not known beforehand, the component tries to detect it or relies on generic ODBC and OLE DB driver methods.</span>
                    </div>
            </div>
        </div>
        <div class="features__building_block-right">
            <div class="features__building_header features__building_header-right">
                <div class="features__building_title-block features__metadata_title-block">
                    <img class="features__building_icon" src="./img/building-icon9.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-h3-right">Metadata Container</h3>
                </div>
                    <span class="features__building_text-span">A Metadata Container acts as a universal source of metadata and its cache for all parts of the component. It loads metadata upon request in chunks that are not too large to get, but keeps the number of queries low.</span>
                    <span class="features__building_text-span features__building_text-span-2">You can load a Metadata Container from an XML file or fill it in by code. The handy GUI tool helps manage XML files and sync them with live databases.</span>
            </div>
            <img class="features__building_img features__building_img-right" src="./img/building-img1.png" alt="" />
        </div>
        <div class="features__building_block-right">
            <div class="features__building_header features__building_header-right features__metadata_header-right">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon11.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-h3-right">Hiding unwanted objects</h3>
                </div>
                    <div class="features__metadata_text-block features__metadata_text-block-more-margin">
                        <span class="features__metadata_text-block-span">Access to all schema objects may confuse the user or may be undesirable for security reasons. Active Query Builder can safely hide unwanted objects from users’ view. You can check a manually typed query for ‌such objects by code.</span>
                    </div>
            </div>
        </div>
        <h1 class="features__building_title features__metadata_second_title">Tuning the metadata for ease of understanding</h1>
        <div class="features__building_subtitle">
            <span class="features__building_subtitle-span">A database schema is hard for end users to understand if it’s not designed to be user friendly.</span>
        </div>
        <div class="features__building_block-right">
            <div class="features__building_header features__building_header-right">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon12.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-h3-right">Changing confusing names to descriptive ones</h3>
                </div>
                <span class="features__building_text-span">With Active Query Builder, you can assign user-friendly names to objects and fields so users can see them in the UI, even in cases when they need to edit a query text or define calculated columns. AQB seamlessly generates queries with real names to execute them against a database server.</span>
                <span class="features__building_text-learn features__building_text-learn-position">Learn more in the AQB Knowledge Base: </span>
                <a href="#" class="features__metadata_text-link features__metadata_text-link-position">Defining friendly names for database objects and fields.</a>
            </div>
            <img class="features__building_img features__building_img-right features__building_img-right-position" src="./img/building-img1.png" alt="" />
        </div>
        <div class="features__building_block-right">
            <div class="features__building_header features__building_header-right features__metadata_header-right">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon13.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-h3-right">Supplementing metadata</h3>
                </div>
                <div class="features__metadata_text-block">
                    <span class="features__metadata_text-block-span">Active Query Builder can supplement metadata to help users create queries. For instance, developers can add relationships between views to help users quickly find related objects.</span>
                    <span class="features__building_text-span features__building_text-span-3">You can simplify your database schema by adding virtual objects and predefined calculated fields. They will look like ordinary objects and fields to users, and AQB will expand them to sub-queries and expressions without exposing them.</span>
                    <span class="features__building_text-learn">Learn more in the AQB Knowledge Base:</span>
                    <a href="#" class="features__metadata_text-link">Adding virtual objects and calculated fields to database schema</a>
                </div>
            </div>
        </div>
        <div class="features__building_block-right">
            <div class="features__building_header features__building_header-right features__metadata_header-right">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon14.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-h3-right">Organizing the database schema structure</h3>
                </div>
                <div class="features__metadata_text-block">
                    <span class="features__metadata_text-block-span">Having well-structured metadata saves the user's time and peace of mind while searching for the right object.</span>
                    <span class="features__building_text-span features__building_text-span-3">AQB allows you to freely configure the database schema tree to fine-tune it for the optimal user experience. You can let AQB arrange objects according to the physical schema, or according to their purpose. It's easy with the GUI Metadata Container editor.</span>
                    <span class="features__building_text-span features__building_text-span-3">Users can arrange objects themselves within the Favorites node.</span>
                    <span class="features__building_text-learn">Learn more in the AQB Knowledge Base:</span>
                    <a href="#" class="features__metadata_text-link">Customizing the Database Schema Tree structure.</a>
                </div>
            </div>
        </div>
        <div class="features__building_block-right">
            <div class="features__building_header features__building_header-right features__metadata_header-right">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/building-icon15.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-h3-right">Advanced techniques</h3>
                </div>
                <div class="features__metadata_text-block">
                    <span class="features__metadata_text-block-span">Consolidate objects from different database servers in a single Metadata Container. Active Query Builder is capable of extracting metadata from different servers and combining them into a single tree. Choosing an agent to perform such queries is up to the developer.</span>
                    <span class="features__building_text-span features__building_text-span-3">The virtual object functionality lets you employ row-level restrictions and migrate SQL queries when renaming objects.</span>
                </div>
            </div>
        </div>
        <div class="features__building_block_warning">
            <div class="features__building_header">
                <div class="features__building_title-block">
                    <img class="features__building_icon" src="./img/warning.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-warning">Limitations</h3>
                </div>
                <div class="features__building_text">
                    <span class="features__building_text-span features__building_text-span--margin">Active Query Builder doesn’t extract and display information related to database indexes.</span>
                </div>
                <a href="#" class="features__building_text-a">Vote to eliminate this limitation</a>
                <div class="features__building_text">
                    <span class="features__building_text-span features__building_text-span--margin-no">Active Query Builder doesn’t display any database objects ‌users can't add as data sources to the FROM clause. That’s why you can see table-valued functions but not stored procedures in the tree when working with MS SQL Server.</span>
                </div>
                <a href="#" class="features__building_text-a features__building_text-a-two">Vote to eliminate this limitation</a>
            </div>
        </div>
    </div>
</section>