<section class="features features__building">
    <div class="features__building_wrapper container">
        <h1 class="features__building_title">SQL parsing and SQL injection attack detection</h1>
        <div class="features__building_subtitle features__metadata_subtitle">
            <span class="features__building_subtitle-span">Parsing the query text with AQB gives you bulletproof protection against SQL injection attacks. AQB correctly identifies literals and comments and does not allow multiple expressions in the text. A successful parsing means that the query contains nothing but one valid SELECT expression.</span>
            <span class="features__building_subtitle-span features__building_subtitle-bold">AQB detects the INTO clause in SELECT statements and can reject it if it is prohibited to change data by querying.</span>
        </div>
        <h1 class="features__building_title features__metadata_second_title">SQL query analysis</h1>
        <div class="features__building_block-right">
            <div class="features__building_header features__building_header-right features__metadata_header-right">
                <div class="features__building_title-block features__building_title-analysis">
                    <img class="features__building_icon" src="./img/building-icon15.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-h3-right">Check the query against a database schema</h3>
                </div>
                <div class="features__metadata_text-block">
                    <span class="features__metadata_text-block-span">Active Query Builder can supplement metadata to help users create queries. For instance, developers can add relationships between views to help users quickly find related objects.</span>
                    <span class="features__building_text-learn">Learn more in the AQB Knowledge Base:</span>
                    <div class="features__analysis_block-link">
                        <a href="#" class="features__metadata_text-link">1. Title of article</a>
                        <a href="#" class="features__metadata_text-link">2. Title of article</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__building_block-right">
            <div class="features__building_header features__building_header-right features__metadata_header-right">
                <div class="features__building_title-block features__building_title-analysis">
                    <img class="features__building_icon" src="./img/building-icon17.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-h3-right">Get details about used objects and fields</h3>
                </div>
                <div class="features__metadata_text-block">
                    <span class="features__metadata_text-block-span">AQB provides integrated means for gathering aggregated information about the query: objects used in the query, object fields, and a list of the resulting query columns.</span>
                    <span class="features__building_text-span features__building_text-span-3 features__building_text-span-bold">Information about unidentified objects and fields, as well as about used objects, allows you to protect sensitive data from unauthorized access.</span>
                    <span class="features__building_text-learn">Learn more in the AQB Knowledge Base:</span>
                    <div class="features__analysis_block-link">
                        <a href="#" class="features__metadata_text-link">1. Title of article</a>
                        <a href="#" class="features__metadata_text-link">2. Title of article</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__building_block-right">
            <div class="features__building_header features__building_header-right features__metadata_header-right">
                <div class="features__building_title-block features__building_title-analysis">
                    <img class="features__building_icon" src="./img/building-icon18.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-h3-right">Deeper analysis</h3>
                </div>
                <div class="features__metadata_text-block">
                    <span class="features__metadata_text-block-span">When parsing a query, the component builds an abstract syntax tree (AST), on which it creates its object model.</span>
                    <span class="features__building_text-span features__building_text-span-3">The object model allows you to bypass all subqueries, objects and their relations, as well as the list of query columns, and get detailed information about them. In tricky cases, you may need to bypass the AST. Regardless of your purpose, AQB will help you collect all the required information about the query.</span>
                    <span class="features__building_text-learn">Learn more in the AQB Knowledge Base:</span>
                    <div class="features__analysis_block-link">
                        <a href="#" class="features__metadata_text-link">1. Title of article</a>
                        <a href="#" class="features__metadata_text-link">2. Title of article</a>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="features__building_title features__metadata_second_title">SQL Query modification</h1>
        <div class="features__building_subtitle features__analysis_subtitle">
            <span class="features__building_subtitle-span">You can programmatically change the object model to affect both the visual query representation and the text. Plus, you can create SQL queries by code from scratch.</span>
        </div>
        <div class="features__analysis_list">
            <span class="features__building_text-learn">Learn more in the AQB Knowledge Base:</span>
            <div class="features__analysis_block-link">
                <a href="#" class="features__metadata_text-link">1. Title of article</a>
                <a href="#" class="features__metadata_text-link">2. Title of article</a>
            </div>
            <span class="features__building_text-learn features__building_subtext-learn">We made special APIs for typical tasks:</span>
            <ul class="features__metadata_text-block-ul">
                <li class="features__metadata_text-block-li">Apply sorting, filtration, pagination, and grouping to a query-based dataset.</li>
                <li class="features__metadata_text-block-li">Cut off conditions with unused parameters from the query.</li>
            </ul>
        </div>
        <div class="features__building_block_warning">
            <div class="features__building_header">
                <div class="features__building_title-block features__building_title-analysis">
                    <img class="features__building_icon" src="./img/warning.png" alt="" />
                    <h3 class="features__building_text-h3 features__building_text-warning">Limitations</h3>
                </div>
                <div class="features__building_text">
                    <span class="features__building_text-span features__building_text-span--margin">When parsing a query, AQB ignores comments and does not store them in the object model. Consequently, when generating text from the object model, initial comments cannot be restored.</span>
                </div>
                <a href="#" class="features__building_text-a features__analysis_text-a">Vote to eliminate this limitation</a>
                <div class="features__building_text">
                    <span class="features__building_text-span features__building_text-span--margin-no">AQB can only parse SELECT statements.</span>
                </div>
                <a href="#" class="features__building_text-a features__analysis_text-a-two">Vote to eliminate this limitation</a>
            </div>
        </div>
    </div>
</section>