<section class="header__online_demo">
    <div class="header__pointer"></div>
    <h1>Active Query Builder Online Demo</h1>
    <div class="header__online_subtitle">
        <span>See how a module for ad-hoc SQL querying could look like in your app,</span> covering
        a business user’s need for fresh analytical data.
    </div>
    <a href="#">Open Demo</a>
    <img src="./img/online-demo.png" alt="" />
</section>
