<section class="header__developers header-bg">
    <div class="header__developers_wrapper container">
        <div class="header__developers_title">
            <h1>Active Query Builder for Developers</h1>
            <a href="#">Request a Demo</a>
        </div>
        <img class="header__developers_bg" src="./img/developers-bg.png" alt="" />
    </div>
</section>
