<section class="header__analyzer header-bg">
    <div class="header__analyzer_title">
        <h1>Online SQL query analyzer</h1>
        <div class="header__analyzer_subtitle">
            Free web-based service for SQL query structure analysis.
        </div>
        <span>Get insights about your SQL query statement in a single click!</span>
    </div>
    <div class="header__analyzer_wrapper">
        <div class="header__analyzer_content">
            <div class="header__analyzer_content_title">
                Active Query Builder can parse an arbitrary SELECT statement and build its structure
                in a tree-like form.
            </div>
            <div class="header__analyzer_content_items">
                <ul>
                    <li>Shows list of output columns;</li>
                    <li>Lists used database objects and fields;</li>
                    <li>
                        Shows sub-queries of any types and highlights correlations between
                        sub-queries;
                    </li>
                    <li>
                        Shows the content of every SQL expression, details their structure to
                        tokens.
                    </li>
                </ul>
            </div>
        </div>
        <div class="header__analyzer_based">
            <div class="header__analyzer_content_based">
                <h3>Based on Active Query Builder SQL parser.</h3>
                <span>Having purchased Active Query Builder,</span> you can load a snapshot of your
                database schema and get:
            </div>
            <div class="header__analyzer_content_items">
                <ul>
                    <li>
                        Binding of objects and fields used in the query to database schema objects
                        and fields;
                    </li>
                    <li>Listing of orphan objects and fields.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
