<section class="header__artboard">
  <div class="header__pointer"></div>
  <div class="header__artboard__container container">
    <div class="header__board_items">
      <h1>Active Query Builder</h1>
      <div class="header__board_subtitle">
        Let any user turn data into information!
      </div>
      <div class="header__board_descr">
        Build user-oriented software and let your customers be data driven with
        Active Query Builder!
      </div>
      <a href="#">Get Started</a>
    </div>
    <div class="header__board_video">
      <img src="./img/video-bg.png" alt="" />
      <div class="header__iframe video">
        <a
          href="//www.youtube.com/embed/FvigBrGoflw?rel=0&fmt=18&html5=1&showinfo=0"
          class="video__link"
        >
          <picture>
            <source
              srcset="
                https://i.ytimg.com/vi_webp/FvigBrGoflw/maxresdefault.webp
              "
              type="image/webp"
            />
            <img
              class="video__media"
              src="https://i.ytimg.com/vi/FvigBrGoflw/maxresdefault.jpg"
              alt="video"
            />
          </picture>
        </a>
        <button class="video__button" aria-label="Play video">
          <svg width="68" height="48" viewBox="0 0 68 48">
            <path
              class="video__button-shape"
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
            ></path>
            <path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
