<section class="header__support">
    <div class="header__pointer"></div>
    <div class="header__support_wrapper container">
        <div class="header__support_block">
            <h1>Active Query Builder support area</h1>
            <div class="header__support_search">
                <input
                    class="header__support_input"
                    type="text"
                    placeholder="Search for anything"
                />
                <button class="header__support_button" type="button">Search</button>
            </div>
        </div>
    </div>
</section>
