<section class="info__service container">
    <h2>
        Free admins and programmers from serving end-user requests for data and let users help
        themselves in seconds!
    </h2>
    <div class="info__content">
        <img src="./img/info-bg.png" alt="" />
        <div class="info__service_block left__info">
            <div class="info__service_block_title">
                <img src="./img/info-block-check.png" alt="" />
                <strong>Professional</strong>
            </div>
            <span>Give users a sense of control over the data to build trust and loyalty.</span>
        </div>
        <div class="info__service_block right__info">
            <div class="info__service_block_title">
                <img src="./img/info-block-check.png" alt="" />
                <strong>Worthwhile</strong>
            </div>
            <span>Add value to your software by letting users turn data into insights.</span>
        </div>
        <div class="info__service_block bottom__info">
            <div class="info__service_block_title">
                <img src="./img/info-block-check.png" alt="" />
                <strong>Safe</strong>
            </div>
            <span>Have no stress letting users build SQL queries by themselves.</span>
        </div>
    </div>
</section>
