<section class="make make__developers">
    <div class="make__container container">
        <div class="make__info">
            <h2>Can't make a decision on your own?</h2>
            <a href="#">Send the link to your executives</a>
            <a href="#">Getting Started</a>
            <a href="#">Developers' Guide</a>
            <a href="#">User Guide</a>
        </div>
    </div>
</section>
