<section class="news">
    <div class="section__news container partials-lent">
        <div class="section__item">
            <h2>Blog and News</h2>
            <div class="partials-nav">
                <button id="all" class="btn__news btn__news--active" onclick="onClickButton(id)">
                    Все
                </button>
                <button id="news" class="btn__news" onclick="onClickButton(id)">Новости</button>
                <button id="blogs" class="btn__news" onclick="onClickButton(id)">Блог</button>
            </div>
            <div id="container" class="container__news"></div>
        </div>
    </div>
</section>
