<section class="pricing__faq container">
    <h1 class="pricing__faq_title">FAQ</h1>
    <div class="level__tabs_wrapper pricing__faq_wrapper">
        <div class="level__tabs_descr pricing__faq_descr">
            <div class="level__tabs_title level__tabs_title--active">
                <div class="level__tabs_btn"></div>
                <h4 class="level__tabs_h4">How many licenses do I need?</h4>
            </div>
            <div class="level__tabs_item level__tabs_item--active">
                <p><b>A license must be obtained for each developer</b> who needs Active Query Builder installed to be able to work with the project in the IDE (develop, compile).</p>
                <ul class="pricing__faq_ul">
                    <li class="pricing__faq_li">Having a license assigned to an employee, he/she can install it on one PC at work and additionally install it on a solely owned home PC or laptop using it only to continue performing corporate tasks when out of the office or at home.</li>
                    <li class="pricing__faq_li">If the developer needs to use the component on more than one work plus home PC, a license must be obtained for each additional PC.</li>
                    <li class="pricing__faq_li">A license should not be purchased for virtual test machines and automated build servers on which the component must be installed only to compile the project.</li>
                </ul>
            </div>
        </div>
        <div class="level__tabs_descr pricing__faq_descr">
            <div class="level__tabs_title">
                <div class="level__tabs_btn"></div>
                <h4 class="level__tabs_h4">Navigate through SQL queries of any complexity and manage them by parts.</h4>
            </div>
            <div class="level__tabs_item">
                <p>You can switch from a visual query building mode to text editing any
                    time, and vice versa, after finishing with text editing to switch to a
                    visual query builder. If you master SQL, AQB doesn’t hinder your
                    creativity.</p>
            </div>
        </div>
        <div class="level__tabs_descr pricing__faq_descr">
            <div class="level__tabs_title">
                <div class="level__tabs_btn"></div>
                <h4 class="level__tabs_h4">Re-use SQL queries with parameters and macros, use one query inside another, build a repository of handy query snippets.</h4>
            </div>
            <div class="level__tabs_item">
                <p>You can switch from a visual query building mode to text editing any
                    time, and vice versa, after finishing with text editing to switch to a
                    visual query builder. If you master SQL, AQB doesn’t hinder your
                    creativity.</p>
            </div>
        </div>
        <div class="level__tabs_descr pricing__faq_descr">
            <div class="level__tabs_title">
                <div class="level__tabs_btn"></div>
                <h4 class="level__tabs_h4">Get a high-performance environment to work with SQL queries and result data.</h4>
            </div>
            <div class="level__tabs_item">
                <p>You can switch from a visual query building mode to text editing any
                    time, and vice versa, after finishing with text editing to switch to a
                    visual query builder. If you master SQL, AQB doesn’t hinder your
                    creativity.</p>
            </div>
        </div>
    </div>
</section>