<section class="pricing">
    <div class="pricing__section container">
        <ul class="trial__breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pricing</a></li>
        </ul>
        <div class="pricing__title">
            <h1>Pricing</h1>
        </div>
        <div class="trial__tabs_content pricing__tabs_content">
            <div class="tabs__title tabs__title_projects pricing__tabs_wrapper">
                <div class="tabs__title_item tabs__title_item_projects pricing__tabs_item tabs__title_item--active" data-tabs="1">.NET</div>
                <div class="tabs__title_item tabs__title_item_projects pricing__tabs_item" data-tabs="2">Delphi</div>
                <div class="tabs__title_item tabs__title_item_projects pricing__tabs_item" data-tabs="3">ActiveX</div>
                <div class="tabs__title_item tabs__title_item_projects pricing__tabs_item" data-tabs="4">Java</div>
            </div>
            <div class="tabs__container tabs__container_projects pricing__tabs">
                <div class="tabs__content tabs__content_projects pricing__tabs_block tabs__content--active" data-tabs="1">
                    <div class="pricing__block_cards">
                        <div class="pricing__card">
                            <div class="pricing__card_title">
                                <span class="pricing__card_name">OO-Querying</span>
                                <p class="pricing__card_descr">Trackle with all SQL security and inforastracture problems with just a few lines of code, build type safe SQL queries through its fluent API.</p>
                            </div>
                            <div class="pricing__card_footer">
                                <span class="pricing__card_descr pricing__card_descr_mobile">Starting at</span>
                                <div class="pricing__card_cost">
                                    <span class="pricing__card_price">$199</span>
                                    <div class="pricing__card_tooltip">Per developer and year
                                        <span class="pricing__card_tooltip-text">Perpetual per-developer licensing. 1 year of support and updates. No per-user or per-server royalties or runtime fees. Money back guarantee. VAT may apply.</span>
                                    </div>
                                </div>
                                <button type="button" class="pricing__card_button pricing__buy">Purchase options</button>
                            </div>
                        </div>
                        <div class="pricing__card">
                            <div class="pricing__card_title">
                                <span class="pricing__card_name">Text Editor</span>
                                <p class="pricing__card_descr">Embed professional editor with code completion, SQl syntax highlight and code folding in your application.</p>
                            </div>
                            <div class="pricing__card_footer">
                                <span class="pricing__card_descr pricing__card_descr_mobile">Starting at</span>
                                <div class="pricing__card_cost">
                                    <span class="pricing__card_price">$299</span>
                                    <div class="pricing__card_tooltip">Perpetual 1 year of updates
                                        <span class="pricing__card_tooltip-text">Perpetual per-developer licensing. 1 year of support and updates. No per-user or per-server royalties or runtime fees. Money back guarantee. VAT may apply.</span>
                                    </div>
                                </div>
                                <button type="button" class="pricing__card_button pricing__buy">Purchase options</button>
                                <button type="button" class="pricing__quote">Get quote</button>
                            </div>
                        </div>
                        <div class="pricing__card">
                            <div class="pricing__card_title">
                                <span class="pricing__card_name">Query Builder</span>
                                <p class="pricing__card_descr">Let users of any concious standartized SQL queries and setup data flow in your application.</p>
                                <div class="pricing__card_option">
                                    <div class="pricing__card_radio">
                                        <input class="pricing__card_input_radio" type="radio" id="winforms" name="soft" value="winforms">
                                        <label for="winforms">WinForms</label>
                                      </div>
                                    
                                      <div class="pricing__card_radio">
                                        <input class="pricing__card_input_radio" type="radio" id="wpf" name="soft" value="wpf">
                                        <label for="wpf">WPF</label>
                                      </div>
                                    
                                      <div class="pricing__card_radio">
                                        <input class="pricing__card_input_radio" type="radio" id="asp" name="soft" value="asp">
                                        <label for="asp">ASP</label>
                                      </div>                                    
                                </div>
                            </div>
                            <div class="pricing__card_footer">
                                <span class="pricing__card_descr pricing__card_descr_mobile">Starting at</span>
                                <div class="pricing__card_cost">
                                    <span class="pricing__card_price">$399</span>
                                    <div class="pricing__card_tooltip">Per developer and year
                                        <span class="pricing__card_tooltip-text">Perpetual per-developer licensing. 1 year of support and updates. No per-user or per-server royalties or runtime fees. Money back guarantee. VAT may apply.</span>
                                    </div>
                                </div>
                                <button type="button" class="pricing__card_button pricing__buy">Purchase options</button>
                            </div>
                            <div class="pricing__card_label">Popular</div>
                        </div>
                        <div class="pricing__card">
                            <div class="pricing__card_title">
                                <span class="pricing__card_name">OO-Querying</span>
                                <p class="pricing__card_descr">Trackle with all SQL security and inforastracture problems with just a few lines of code, build type safe SQL queries through its fluent API.</p>
                                <div class="pricing__card_option">
                                    <ul class="pricing__card_ul">
                                        <li class="pricing__card_li">WinForms</li>
                                        <li class="pricing__card_li">WPF
                                            <div class="pricing__card_tooltip-li">
                                                <span class="pricing__card_tooltip-li-text">Perpetual per-developer licensing. 1 year of support and updates. No per-user or per-server royalties or runtime fees. Money back guarantee. VAT may apply.</span>
                                            </div>
                                        </li>
                                        <li class="pricing__card_li">ASP</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pricing__card_footer">
                                <span class="pricing__card_descr pricing__card_descr_mobile">Starting at</span>
                                <div class="pricing__card_cost">
                                    <span class="pricing__card_price">$999</span>
                                    <div class="pricing__card_tooltip">Per developer and year
                                        <span class="pricing__card_tooltip-text">Perpetual per-developer licensing. 1 year of support and updates. No per-user or per-server royalties or runtime fees. Money back guarantee. VAT may apply.</span>
                                    </div>
                                </div>
                                <button type="button" class="pricing__card_button pricing__buy">Purchase options</button>
                            </div>
                            <div class="pricing__card_label">Save 50%</div>
                        </div>
                    </div>
                    <div class="pricing__card_more--btn">See Full Feature Matrix</div>
                </div>
                <div class="tabs__content tabs__content_projects pricing__tabs_block" data-tabs="2">
                    <div class="pricing__block_cards">
                        <div class="pricing__card">
                            <div class="pricing__card_title">
                                <span class="pricing__card_name">Query Builder</span>
                                <p class="pricing__card_descr">Let users of any concious standartized SQL queries and setup data flow in your application.</p>
                                <div class="pricing__card_option">
                                    <div class="pricing__card_radio">
                                        <input class="pricing__card_input_radio" type="radio" id="winforms2" name="soft2" value="winforms2">
                                        <label for="winforms2">WinForms</label>
                                      </div>
                                    
                                      <div class="pricing__card_radio">
                                        <input class="pricing__card_input_radio" type="radio" id="wpf2" name="soft2" value="wpf2">
                                        <label for="wpf2">WPF</label>
                                      </div>
                                    
                                      <div class="pricing__card_radio">
                                        <input class="pricing__card_input_radio" type="radio" id="asp2" name="soft2" value="asp2">
                                        <label for="asp2">ASP</label>
                                      </div>                                    
                                </div>
                            </div>
                            <div class="pricing__card_footer">
                                <span class="pricing__card_descr pricing__card_descr_mobile">Starting at</span>
                                <div class="pricing__card_cost">
                                    <span class="pricing__card_price">$399</span>
                                    <div class="pricing__card_tooltip">Per developer and year
                                        <span class="pricing__card_tooltip-text">Perpetual per-developer licensing. 1 year of support and updates. No per-user or per-server royalties or runtime fees. Money back guarantee. VAT may apply.</span>
                                    </div>
                                </div>
                                <button type="button" class="pricing__card_button pricing__buy">Purchase options</button>
                                <button type="button" class="pricing__quote">Get quote</button>
                            </div>
                        </div>
                        <div class="pricing__card">
                            <div class="pricing__card_title">
                                <span class="pricing__card_name">OO-Querying</span>
                                <p class="pricing__card_descr">Trackle with all SQL security and inforastracture problems with just a few lines of code, build type safe SQL queries through its fluent API.</p>
                                <div class="pricing__card_option">
                                    <ul class="pricing__card_ul">
                                        <li class="pricing__card_li">WinForms</li>
                                        <li class="pricing__card_li">WPF
                                            <div class="pricing__card_tooltip-li">
                                                <span class="pricing__card_tooltip-li-text">Perpetual per-developer licensing. 1 year of support and updates. No per-user or per-server royalties or runtime fees. Money back guarantee. VAT may apply.</span>
                                            </div>
                                        </li>
                                        <li class="pricing__card_li">ASP</li>
                                    </ul>
                                    <div class="pricing__card_radio">
                                        <input class="pricing__card_input_radio" type="radio" id="winforms3" name="soft3" value="winforms3">
                                        <label for="winforms3">WinForms</label>
                                      </div>
                                      <div class="pricing__card_radio">
                                        <input class="pricing__card_input_radio" type="radio" id="wpf3" name="soft3" value="wpf3">
                                        <label for="wpf3">WPF</label>
                                      </div>
                                      <div class="pricing__card_radio">
                                        <input class="pricing__card_input_radio" type="radio" id="asp3" name="soft3" value="asp3">
                                        <label for="asp3">ASP</label>
                                    </div>
                                </div>
                                <div class="pricing__card_option">

                                </div>
                            </div>
                            <div class="pricing__card_footer">
                                <span class="pricing__card_descr pricing__card_descr_mobile">Starting at</span>
                                <div class="pricing__card_cost">
                                    <span class="pricing__card_price">$999</span>
                                    <div class="pricing__card_tooltip">Per developer and year
                                        <span class="pricing__card_tooltip-text">Perpetual per-developer licensing. 1 year of support and updates. No per-user or per-server royalties or runtime fees. Money back guarantee. VAT may apply.</span>
                                    </div>
                                </div>
                                <button type="button" class="pricing__card_button pricing__buy">Purchase options</button>
                            </div>
                            <div class="pricing__card_label">Save 50%</div>
                        </div>
                    </div>
                    <div class="pricing__card_more--btn">See Full Feature Matrix</div>
                </div>
                <div class="tabs__content tabs__content_projects pricing__tabs_block" data-tabs="3">
                    3
                </div>
                <div class="tabs__content tabs__content_projects pricing__tabs_block" data-tabs="4">
                    4
                </div>
            </div>
        </div>
    </div>
</section>