<section class="project project__api container">
    <div class="project__block">
        <h3>This is a Proof of Concept showing the capabilities of using the Active Query Builder API in conjunction with standard and third-party libraries.</h3>
        <p>The elements layout and functionality are designed not to excessively complicate the project and to demonstrate the main features of Active Query Builder.**</p>
        <p>The work with queries and data in your application can be organized in a completely different way according to your needs.</p>
        <div class="project__source">
            The demo is built using the ReactJs library,
            <a href="#">sources are available on Github.</a>
            <span>** The demo is not supposed to be used on mobile phones.</span>
        </div>
    </div>
    <img src="./img/project-img.png" alt="" />
</section>
