<section class="started">
    <div class="started__container container">
        <div class="started__info">
            <h2>Active Query Builder: bridge the gap between your end-users and data</h2>
            <p>Learn how to embed the component into your system:</p>
            <a href="#" class="started__get_btn">Get Started</a>
        </div>
    </div>
</section>
