<section class="supports">
    <div class="supports__container container">
        <div class="supports__slider">
            <h2>Supports Dozens of Database Servers and various SQL Standards</h2>
            <span>Teradata, SAP HANA, Informix, Netezza, Firebird, Pervasive and many others...</span>
            <div class="supports__slider_container swiper">
                <div class="supports__slider_wrapper swiper-wrapper">
                    <div class="supports__slider_item swiper-slide">
                        <img src="./img/sliders/sql-server.png" alt="" />
                        <img src="./img/sliders/mysql.png" alt="" />
                        <img src="./img/sliders/postgre-sql.png" alt="" />
                        <img src="./img/sliders/oracle.png" alt="" />
                        <img src="./img/sliders/sqlite.png" alt="" />
                        <img src="./img/sliders/firebird.png" alt="" />
                    </div>
                    <div class="supports__slider_item swiper-slide">
                        <img src="./img/sliders/ms-access.png" alt="" />
                        <img src="./img/sliders/teradata.png" alt="" />
                        <img src="./img/sliders/sap-hana.png" alt="" />
                        <img src="./img/sliders/netezza.png" alt="" />
                        <img src="./img/sliders/informix.png" alt="" />
                        <img src="./img/sliders/sybase.png" alt="" />
                    </div>
                    <div class="supports__slider_item swiper-slide">
                        <img src="./img/sliders/ibm.png" alt="" />
                        <img src="./img/sliders/advantage-db.png" alt="" />
                        <img src="./img/sliders/pervasive.png" alt="" />
                        <img src="./img/sliders/generic.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offers__slider-button-prev">
        <div class="supports__slider_nav slider_nav_left">
            <svg class="arrow__left">
                <use xlink:href="img/sprite.svg#arrow-sliders"></use>
            </svg>
        </div>
    </div>
    <div class="offers__slider-button-next">
        <div class="supports__slider_nav slider_nav_right">
            <svg class="arrow__right">
                <use xlink:href="img/sprite.svg#arrow-sliders"></use>
            </svg>
        </div>
    </div>
</section>