<section class="supports__designed">
    <div class="supports__wrapper container">
    <h2>Designed for:</h2>
    <div class="designed designed__wrapper">
        <div class="designed__item">
            <img class="designed__img" src="./img/designed-desk.png" alt="" />
            <div class="designed__content">
                <span>Desktop</span>
                <div class="designed__caption">
                    <span>.NET WinForms</span>
                    <span>.NET WPF</span>
                    <span>Delphi</span>
                    <span>C++Builder</span>
                    <span>ActiveX</span>
                    <span>Java</span>
                </div>
            </div>
        </div>
        <div class="designed__item">
            <img class="designed__img" src="./img/designed-web.png" alt="" />
            <div class="designed__content">
                <span>Web</span>
                <div class="designed__caption">
                    <span>ASP.NET WebForms</span>
                    <span>ASP.NET MVC</span>
                    <span>ASP.NET Core</span>
                </div>
                <div class="designed__description">* Works perfectly with any web app, incl. <b>Angular, React.Js, Vue.Js</b> by packing the server-side in a Docker container.</div>
            </div>
        </div>
    </div>
    </div>
    <a href="#">Download free trial now</a>
</section>