<section class="team">
    <div class="team__container container">
        <div class="team__info">
            <h2>Our team is here to help you with your custom query processing tasks</h2>
            <a href="#" class="contact__us">Try now</a>
        </div>
    </div>
</section>