<section class="users">
    <div class="users__container">
        <div class="users__wrapper container">
            <h2>What Our Happy Users Say About Us</h2>
            <div class="users__slider swiper__users">
                <div class="users__items swiper-wrapper">
                    <div class="users__item swiper-slide">
                        <div class="users__avatar"><img src="./img/users1.jpg" alt="" /></div>
                        <div class="users__comment">
                            <p>
                                Our team has worked with the Active Query Builder components since
                                the middle of 2014. By using Active Query Builder we have managed to
                                upgrade our applications to the point where we can enable users with
                                very little to no knowledge of SQL to access their databases and
                                retrieve accurate summaries of their data. The component itself is
                                flexible, easy to use, user-friendly and consistently improved upon.
                                Any issues that might occur are dealt with by a support team that
                                sets the benchmark for customer service and professionalism.
                            </p>
                            <p>
                                In short, a superb product developed and supported by a superb team.
                            </p>
                            <span class="users__author">Gert Venter</span>
                            <span class="users__company">IDSC</span>
                        </div>
                    </div>
                    <div class="users__item swiper-slide">
                        <div class="users__avatar"><img src="./img/users2.jpg" alt="" /></div>
                        <div class="users__comment">
                            <p>
                                We have been using Active Query Builder for over a year and must say
                                that both the product and support have been outstanding!
                            </p>
                            <p>
                                ... In summary Active Query Builder provides excellent components,
                                great support and a very flexible feature set. It has allowed us to
                                provide features to our end users that I did not think would be
                                possible in the first release of our new tools and in a timeframe
                                that was much shorter than planned. I would recommend that anyone
                                dealing with databases in the .Net world should be aware of this
                                component and its capabilities!
                            </p>
                            <span class="users__author">Joel Tesdall</span>
                            <span class="users__company">MAPCON Technologies, Inc.</span>
                        </div>
                    </div>
                    <div class="users__item swiper-slide">
                        <div class="users__avatar"><img src="./img/not-avatar.png" alt="" /></div>
                        <div class="users__comment">
                            <p>
                                With users expecting better and better interfaces to deal with
                                complex data retrieval, Active Query Builder has allowed me to
                                provide a highly professional, robust environment to both novice
                                users and skilled query writers.
                            </p>
                            <p>Thanks to all the team involved.</p>
                            <span class="users__author">Duncan Deacon</span>
                        </div>
                    </div>
                </div>
                <div class="users__slider_pag swiper-pagination"></div>
            </div>
        </div>
        <div class="users__slider_nav users__sld_right users__slider-button-next">
            <svg class="arrow__right">
                <use xlink:href="img/sprite.svg#arrow-sliders"></use>
            </svg>
        </div>
        <div class="users__slider_nav users__sld_left users__slider-button-prev">
            <svg class="arrow__left">
                <use xlink:href="img/sprite.svg#arrow-sliders"></use>
            </svg>
        </div>
    </div>
</section>
