<section class="want">
    <div class="want__container container">
        <div class="want__info">
            <h2>Want to get started right away?</h2>
            <a href="#" class="contact__us">Try now</a>
        </div>
    </div>
</section>