.about {
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 120px 20px 105px;
	}

	&__items {
		max-width: 360px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__link {
		text-align: center;

		& > picture img {
			max-width: 360px;
			min-height: 396px;
			margin-bottom: 35px;
		}

		& > h3 {
			font-family: "Roboto-Bold", sans-serif;
			font-size: 26px;
			line-height: 1.23;
			font-weight: 600;
			color: $black;
		}

		& > span {
			display: block;
			margin-top: 20px;
			font-family: "Roboto-Light", sans-serif;
			font-size: 18px;
			line-height: 1.55;
			font-weight: 300;
			color: $black;
		}
	}

	&__btn {
		height: 45px;
		display: flex;
		align-items: center;
		margin-top: 20px;
		padding: 0 30px;
		border-radius: 5px;
		background-color: $mantis;
		font-family: "Roboto-Bold", sans-serif;
		font-size: 14px;
		font-weight: 700;
		color: $white;
	}
}
