.advantages{
    margin-top: 180px;
    margin-bottom: 100px;

    &__items{
        display: flex;
        padding-bottom: 40px;
        border-bottom: solid $mercury 1px;

        &:not(:first-child){
            padding-top: 40px;
        }

        &:last-child{
            border-bottom: solid transparent 1px;
        }
    }

    &__question{
        width: 100%;
        max-width: 180px;
        margin-left: 100px;
        font-family: 'Roboto-Bold',sans-serif;
        font-weight: 600;
        font-size: 48px;
        color: $mischka;
    }

    &__answer{
        width: 100%;
        max-width: 760px;
        margin-left: 25px;
        padding-top: 16px;
        font-size: 24px;
        font-family: 'Roboto-Light',sans-serif;
        font-weight: 300;
    }
}