.analyzer{
    overflow: hidden;

    &__container{
        padding: 120px 40px 100px;
    }

    &__db{
        background-color: $alabaster;
    }

    &__wrapper{
        text-align: center;
        padding: 120px 20px 100px;

        & > h2{
            font-family: 'Roboto-Bold',sans-serif;
            font-size: 30px;
            font-weight: 600;
            line-height: 1.23;
        }
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 45px;
    }

    &__item{
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border: 1px solid $alto;
        border-top: 0;

        &:nth-last-child(-n+4) {
            border-bottom: 1px solid transparent;
        }

        &:nth-child(4n+4) {
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
        }

        &:nth-child(4n+1) {
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
        }

        &:nth-child(4n+2) {
            border-right: 1px solid transparent;
        }
    }
}

.formatter__container{
    padding: 120px 20px 100px;
}