.demo {
	&__container {
		padding-top: 100px;
		padding-bottom: 105px;

		& > h2 {
			display: block;
			max-width: 960px;
			margin: 0 auto;
			text-align: center;
			font-family: "Roboto-Bold", sans-serif;
			font-size: 30px;
			font-weight: 600;
			line-height: 1.4;
		}

		& > a {
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 263px;
			height: 60px;
			margin: 45px auto 0 auto;
			border-radius: 5px;
			background-color: $mantis;
			font-family: "Roboto-Bold", sans-serif;
			font-size: 16px;
			font-weight: 700;
			color: $white;
		}
	}

	&__items {
		display: flex;
		justify-content: space-around;
		margin-top: 40px;
		padding: 0 20px;

		&_card {
			max-width: 260px;
			display: flex;
			flex-direction: column;
			align-items: center;

			& > picture img {
				max-width: 260px;
				height: auto;
			}

			& > span {
				max-width: 320px;
				margin-top: 25px;
				text-align: center;
				font-family: "Roboto-Light", sans-serif;
				font-size: 18px;
				line-height: 1.55;
				font-weight: 300;
			}
		}

		&_title {
			margin-top: 40px;
			font-family: "Roboto-Bold", sans-serif;
			font-size: 22px;
			font-weight: 600;
			line-height: 1.35;
		}
	}

	&__get_data,
	&__projects {
		padding: 100px 0 80px;
		background-color: $alabaster;
	}

	&__get_container,
	&__app,
	&__projects_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 20px;

		& > h2 {
			font-family: "Roboto-Bold", sans-serif;
			font-weight: 600;
			font-size: 42px;
			color: $logan2;
		}
	}

	&__app,
	&__projects {
		padding: 100px 20px 80px;
	}

	&__get_subtitle,
	&__app_subtitle,
	&__projects_subtitle {
		margin-top: 20px;
		font-family: "Roboto-Bold", sans-serif;
		font-weight: 600;
		font-size: 28px;
	}

	&__projects_subtitle {
		max-width: 960px;
		margin-bottom: 55px;
		text-align: center;
	}

	&__get_video {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}

	&__get_iframe {
		position: relative;
		width: 100%;
		max-width: 560px;
		height: 315px;
	}

	&__get_query {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 120px;

		& > h3 {
			font-family: "Roboto-Bold", sans-serif;
			font-weight: 600;
			font-size: 28px;
			line-height: 1.5;
		}

		& > a {
			width: 260px;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 60px;
			border-radius: 5px;
			background-color: $mantis;
			font-family: "Roboto-Bold", sans-serif;
			font-weight: 700;
			color: $white;
			text-transform: uppercase;
		}
	}

	&__app_items {
		width: 100%;
		display: flex;
		align-items: center;
		margin-top: 50px;

		& > picture img {
			max-width: 559px;
			margin-right: 40px;
		}
	}

	&__app_info {
		max-width: 500px;

		& > a {
			width: 251px;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 5px;
			background-color: $mantis;
			font-family: "Roboto-Bold", sans-serif;
			font-weight: 700;
			color: $white;
			text-transform: uppercase;
		}
	}

	&__app_items-middle {
		justify-content: space-between;

		& > picture img {
			margin-right: unset;
		}

		.demo__app_info {
			max-width: 540px;
		}
	}

	&__app_title {
		margin-bottom: 24px;
		font-family: "Roboto-Bold", sans-serif;
		font-weight: 600;
		font-size: 22px;
		line-height: 1.23;
	}

	&__app_descr {
		margin-bottom: 24px;
		font-family: "Roboto-Light", sans-serif;
		font-weight: 300;
		font-size: 18px;
		line-height: 1.55;

		& > strong {
			font-weight: 700;
		}
	}

	&__features {
		height: 780px;
		display: flex;
		justify-content: center;
		background-color: $solitude;
		position: relative;
		overflow: hidden;
	}

	&__img {
		position: absolute;
		& > picture img {
			display: block;
		}

		&_left {
			bottom: 0;
			left: 89px;
		}

		&_right {
			bottom: 0;
			right: 109px;
		}
	}

	&__features_wrapper {
		width: 100%;
		max-width: 530px;
		margin-top: 100px;
		margin-left: 490px;
		z-index: 2;

		& > h2 {
			font-size: 30px;
			font-family: "Roboto-Bold", sans-serif;
			font-weight: 600;
			line-height: 1.25;
		}
	}

	&__features_items {
		max-width: 100%;

		& > ul > li {
			margin-top: 20px;
			padding-left: 35px;
			background-image: url("../img/offer-check.png");
			background-repeat: no-repeat;
			background-position: 0 4px;
			background-size: 20px;
			font-family: "Roboto-Light", sans-serif;
			font-size: 18px;
			line-height: 1.55;
			font-weight: 300;
		}

		& > span {
			display: block;
			max-width: 360px;
			margin-top: 30px;
			font-size: 14px;
			font-family: "Roboto-Light", sans-serif;
			line-height: 1.55;
			font-weight: 300;
		}

		& > a {
			max-width: 200px;
			display: block;
			margin-top: 40px;
			background-color: $mantis;
			border-radius: 5px;
			font-family: "Roboto-Bold", sans-serif;
			font-size: 16px;
			line-height: 1.55;
			font-weight: 600;
			text-align: center;
			padding: 15px 0;
			color: $white;
		}
	}

	&__features_title {
		margin-bottom: 15px;
		font-family: "Roboto-Bold", sans-serif;
		font-size: 30px;
		font-weight: 600;
		line-height: 1.25;
	}

	&__advantages {
		background-color: $alabaster;

		&_container {
			padding: 120px 20px;
		}

		&_wrapper {
			display: flex;

			&:not(:last-child) {
				padding-bottom: 45px;
			}

			&:not(:first-child) {
				padding-top: 50px;
				border-top: solid rgba(0, 0, 0, 0.1) 1px;
			}
		}

		&_item {
			display: flex;

			& > picture img {
				width: 100px;
				height: 100px;
			}

			&_title {
				width: 200px;
				margin-left: 32px;

				& > h2 {
					display: block;
					font-family: "Roboto-Bold", sans-serif;
					font-size: 48px;
					font-weight: 500;
					line-height: 52px;
					color: $mantis;
				}

				& > span {
					display: block;
					margin-top: 11px;
					font-family: "Roboto-Light", sans-serif;
					font-size: 24px;
					font-weight: 300;
					line-height: 32px;
					color: $black;
				}
			}
		}

		&_content {
			max-width: 660px;
			margin-left: 89px;

			& > h3 {
				font-family: "Roboto-Bold", sans-serif;
				font-size: 22px;
				font-weight: 600;
				line-height: 28px;
			}

			&_description {
				margin-top: 20px;
				font-size: 18px;
				font-weight: 300;
				line-height: 28px;

				& > span {
					font-family: "Roboto-Light", sans-serif;
				}

				& > ul > li {
					font-family: "Roboto-Light", sans-serif;
					margin-left: 25px;
					list-style: disc;

					& > .ul__submenu > li {
						margin-left: 25px;
						list-style: disc;
						font-family: "Roboto-Light", sans-serif;
					}

					& > span {
						display: block;
						margin: 12px 0 20px;
						font-family: "Roboto-Light", sans-serif;
					}
				}

				& b {
					font-weight: 600;
				}

				& > h4 {
					display: block;
					margin-top: 33px;
					margin-bottom: 12px;
				}
			}
		}

		&_btns {
			display: flex;
			justify-content: center;

			& > a {
				display: block;
				padding: 18px 55px;
				border-radius: 5px;
				background-color: $mantis;
				font-family: "Roboto-Bold", sans-serif;
				font-size: 16px;
				line-height: 19px;
				font-weight: 600;
				color: $white;

				&:not(:last-child) {
					margin-right: 49px;
				}
			}
		}
	}
}
