.enduser {
	background-color: $alabaster;

	&__container {
		display: flex;
		padding: 110px 20px 118px;

		& > picture img {
			display: block;
			margin-left: -20px;
		}
	}

	&__wrapper {
		max-width: 541px;
		padding-left: 40px;
		padding-top: 40px;

		& > h4 {
			display: block;
			margin-bottom: 30px;
			font-family: "Roboto-Bold", sans-serif;
			font-size: 22px;
			line-height: 28px;
			font-weight: 600;
		}

		& > p {
			display: block;
			margin-top: 15px;
			font-family: "Roboto-Light", sans-serif;
			font-size: 18px;
			line-height: 27px;
			font-weight: 300;
		}

		& > a {
			max-width: 326px;
			height: 54px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 41px;
			border-radius: 5px;
			background-color: $mantis;
			font-family: "Roboto-Bold", sans-serif;
			font-size: 16px;
			line-height: 19px;
			color: $white;
		}
	}
}
