.features {
    
    &__wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 120px 20px 105px;
    }

    &__modules_list {
        margin-top: 20px;
    }

    &__modules-h1 {
        font-family: 'Roboto-Medium', sans-serif;
        font-size: 30px;
        line-height: 42px;
        font-weight: 700;
        color: $black;
    }

    &__modules-ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 42px;
        margin-top: 20px;

        &-3 {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__modules-li {
        width: 260px;
        min-height: 448px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        &-3 {
            width: 360px;
            min-height: 483px;
        }
    }

    &__modules-img {
        margin-bottom: 12px;

        &-database {
            width: 360px;
        }
    }

    &__modules-h3 {
        font-family: 'Roboto-Medium', sans-serif;
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
        color: $black;
    }

    &__modules-span {
        display: block;
        margin-top: 10px;
        font-family: 'Roboto-Light', sans-serif;
        font-size: 18px;
        line-height: 27px;
        font-weight: 300;
        color: $black;
    }

    &__modules-btn {
        width: 162px;
        height: 55px;
        margin-top: 15px;
        border: none;
        border-radius: 5px;
        background-color: $mantis;
        font-family: Roboto-Medium,sans-serif;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        color: $white;
        cursor: pointer;
    }

    &__building {
        background-color: $alabaster;

        &_wrapper {
            padding: 120px 20px;
        }

        &_title {
            margin-bottom: -20px;
            font-family: 'Roboto-Medium', sans-serif;
            font-size: 42px;
            line-height: 50px;
            font-weight: 600;
            text-align: center;
            color: $black;

            &-block {
                display: flex;
            }

            &-analysis {

                &-subtitle {
                    margin-top: 50px;
                    align-items: center;
                }
            }
        }

        &_subtitle {
            margin-top: 25px;

            &-span {
                display: block;
                text-align: center;
                font-family: 'Roboto-Light', sans-serif;
                font-size: 20px;
                line-height: 29px;
                font-weight: 300;
            }

            &-bold {
                margin-top: 15px;
                font-family: 'Roboto-Medium', sans-serif;
                font-size: 20px;
                line-height: 29px;
                font-weight: 500;
            }

            &-tools {

                &-span {
                    display: block;
                    text-align: left;
                    font-family: 'Roboto-Light',sans-serif;
                    font-size: 20px;
                    line-height: 29px;
                    font-weight: 300;

                    &:not(:last-child){
                        margin-top: 40px;
                    }
                }
            }
        }

        &_block {

            &_warning {
                margin-top: 50px;
                margin-left: -20px;
                margin-right: -10px;
                padding: 40px 30px;
                background-color: $gallery3;
                border: solid $silver 1px;
                border-radius: 5px;
            }

            &-left {
                display: flex;
                flex-direction: column;
                margin-top: 70px;
            }

            &-right {
                display: flex;
                margin-top: 70px;
            }
        }

        &_header {
            display: flex;
            flex-direction: column;

            &-right {
                max-width: 460px;
            }
        }

        &_icon {
            min-width: 80px;
            height: 80px;
        }

        &_text {

            &-h3 {
                display: block;
                margin-left: 20px;
                font-family: 'Roboto-Meduim', sans-serif;
                font-size: 27px;
                line-height: 42px;
                font-weight: 600;
                color: $mantis;

                &-right {
                    margin-left: 20px;
                }
            }

            &-warning {
                color: $thunderbird;
            }

            &-span {
                max-width: 990px;
                display: block;
                margin-top: 10px;
                font-family: 'Roboto-Light', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 300;
                color: $black;

                &--margin {
                    margin-top: -35px;
                    margin-left: 100px;
                }

                &--margin-no {
                    max-width: 100%;
                    margin-top: 43px;
                    margin-left: 100px;
                    position: relative;

                    &::before {
                        display: block;
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: $alto2;
                        position: absolute;
                        top: -20px;
                    }
                }

                &-bold {
                    font-family: 'Roboto-Medium', sans-serif;
                    font-size: 18px;
                    line-height: 27px;
                    font-weight: 500;
                }

                &-2 {
                    margin-top: 20px;
                }

                &-3 {
                    margin-top: 30px;
                }
            }
            
            &-a {
                display: block;
                margin-top: -20px;
                text-decoration: underline $mantis;
                text-underline-offset: 5px;
                -webkit-text-underline-offset: 5px;
                -ms-text-underline-offset: 5px;
                font-family: 'Roboto-Medium', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 500;
                text-align: right;
                color: $black;

                &-two{
                    margin-top: 10px;
                }
            }

            &-learn {
                display: block;
                margin-top: 20px;
                font-family: 'Roboto-Medium', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 500;

                &-tools {
                    margin-top: 30px;
                }
            }
        }

        &_subtext {

            &-learn {
                margin-top: 50px;
            }
        }

        &_content {
            display: flex;
            margin-top: 20px;
        }
        
        &_img {
            max-width: 600px;
            filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.16));

            &-right {
                margin-left: 40px;
            }

            &-screen {
                display: none;
                max-width: 600px;
                filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.16));
            }

            &--active {
                display: block;
            }
        }

        &_list {
            max-width: 540px;

            &-li {
                padding: 15px 0 15px 20px;
                border-bottom: solid $alto 1px;
                font-family: 'Roboto-Light', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 300;
                color: $black;
                cursor: pointer;

                &:first-child {
                    padding-top: unset;
                }

                &--active {
                    border-bottom: solid $mantis 2px;
                    font-family: 'Roboto-Medium', sans-serif;
                    font-size: 18px;
                    line-height: 27px;
                    font-weight: 500;
                    color: $black;
                }
            }

            &--mobile {
                display: none;
                position: relative;
            }
        }

        &_row {
            padding: 12px 50px 12px 20px;
            background-color: $gallery2;
            position: relative;
            font-size: 'Roboto-Medium', sans-serif;
            font-size: 16px;
            line-height: 25px;
            font-weight: 600;
            color: $mantis;
            cursor: pointer;

            &::after {
                content: "";
                width: 8px;
                height: 12px;
                display: block;
                background-image: url('../img/support-li-active.png');
                background-repeat: no-repeat;
                position: absolute;
                top: 21px;
                right: 20px;
                transition: transform .3s ease-in-out;
                transform: rotate(90deg);
            }

            &--active::after{
                transform: rotate(270deg);
            }
        }

        &_items {
            width: 100%;
            margin-top: 30px;
            background-color: $white;
            border: solid $silver 1px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            position: absolute;
            visibility: hidden;
            z-index: 1;

            &_active {
                visibility: visible;
            }
        }

        &_item {
            padding: 12px 50px 12px 20px;
            font-size: 'Roboto-Medium', sans-serif;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            color: $mantis;

            &:hover{
                background-color: $dodgerBlue;
                color: $white;
            }
        }
    }

    &__metadata{
    
        &_title-block {
            align-items: center;
        }

        &_header-right {
            max-width: 100%;
        }

        &_text-block {
            margin-left: 100px;
            margin-top: -25px;

            &-ul {
                font-family: 'Roboto-Light', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 300;
                list-style: disc;
            }

            &-li {
                margin-left: 27px;
                font-family: 'Roboto-Light', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 300;
            }

            &-span {
                font-family: 'Roboto-Light', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 300;
            }

            &-more-margin {
                margin-top: -32px;
            }
        }

        &_second_title {
            margin-top: 60px;
        }

        &_text-link {
            text-decoration: underline $mantis;
            text-decoration-thickness: 2px;
            text-underline-offset: 7px;
            -webkit-text-underline-offset: 7px;
            -ms-text-underline-offset: 7px;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 18px;
            line-height: 28px;
            font-weight: 300;
            color: $black;
        }
    }

    &__analysis {

        &_text {
            display: flex;

            &-a {
                margin-top: 10px;

                &-two {
                    margin-top: -26px;
                }
            }
        }

        &_list {
            margin-top: 60px;
        }

        &_block {

            &-link {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__tools {

        &_text-block {
            display: flex;
            flex-direction: column;
            margin-left: 100px;
            margin-top: -25px;

            &-span {
                font-family: 'Roboto-Light', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 300;

                &:not(:first-child){
                    display: block;
                    margin-top: 30px;
                }

                &-bold {
                    font-family: 'Roboto-Medium', sans-serif;
                    font-weight: 500;
                }
            }
        }

        &_subtitle {

            &-bold {
                font-size: 'Roboto-Bold', sans-serif;
                font-size: 22px;
                line-height: 28px;
                font-weight: 700;

                &-margin {
                    display: block;
                    margin-top: 70px;
                }
            }
        }

        &_list {

            &-grid {
                display: grid;
                grid-template-columns: 60px 1fr;
                grid-row-gap: 20px;
                margin-top: 20px;
            }
        }

        &_item {

            font-family: 'Roboto-Light', sans-serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 300;

            &-title {
                grid-column: 2 / 5;
                margin-left: 20px;
                align-self: center;
            }

            &-span {
                font-family: 'Roboto-Medium', sans-serif;
                font-weight: 500;
                color: $fern;
            }

            &-icon {
                display: block;
                width: 60px;
                height: 60px;
            }

            &-img {
                width: 360px;
                height: 155px;
                grid-column: 4/4;
                grid-row: 2/4;
                filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.16));
            }

            &-center {
                align-self: center;
            }
        }

        &_item2 {
            grid-column: 3 / 4;
            margin-left: 20px;
            padding-right: 30px;
        }

        &_item3 {
            grid-column: 1 / 1;
        }

        &_block {

            &-link {
                margin-top: 30px;
            }
        }

        &_expl {
            display: block;
            margin-top: 30px;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;
        }
    }
}