.help{
    height: 600px;
    background-image: url('../img/help-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;


    &__container{
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__info{
        max-width: 660px;

        & > h2{
            font-family: 'Roboto-Bold',sans-serif;
            font-weight: 600;
            font-size: 42px;
            line-height: 34px;
            color: $white;
        }

        & > p{
            margin-top: 20px;
            font-family: 'Roboto-Light',sans-serif;
            font-weight: 300;
            font-size: 18px;
            line-height: 1.55;
            color: $white;
        }

        & > a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 60px;
            margin-top: 50px;
            background-color: $mantis;
            color: $white;
            border-radius: 5px;
            font-family: 'Roboto-Bold',sans-serif;
            font-weight: 700;
            font-size: 16px;
        }
    }

    &__answer{
        max-width: 550px;
        padding-left: 20px;

        & > h2{
            font-family: 'Roboto-Bold',sans-serif;
            font-weight: 600;
            font-size: 42px;
            line-height: 1.25;
            letter-spacing: 1px;
        }
    }
}