.info {
	&__service {
		display: flex;
		flex-direction: column;
		margin: 100px auto 160px auto;

		& > h2 {
			display: block;
			max-width: 960px;
			margin: 0 auto;
			text-align: center;
			font-family: "Roboto-Bold", sans-serif;
			font-size: 30px;
			font-weight: 600;
			line-height: 1.4;
		}

		&_block {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 260px;

			&_title {
				display: flex;
				align-items: center;
				margin-bottom: 20px;

				& > picture img {
					display: block;
					width: 45px;
					height: 45px;
					margin-right: 20px;
				}

				& > strong {
					font-family: "Roboto-Bold", sans-serif;
					font-weight: 700;
					font-size: 22px;
					line-height: 1.55;
					color: $black;
				}
			}

			& > span {
				font-family: "Roboto-Light", sans-serif;
				color: $black;
				font-size: 18px;
				line-height: 1.5;
				font-weight: 300;
			}
		}
	}

	&__content {
		width: 100%;
		position: relative;

		& > picture img {
			display: block;
			width: 720px;
			height: auto;
			margin: 40px auto 0 auto;
			object-fit: contain;
		}
	}
}

.left__info {
	position: absolute;
	top: 90px;
	left: 20px;
}

.right__info {
	width: 226px;
	position: absolute;
	top: 90px;
	right: 20px;
	text-align: right;
}

.right__info .info__service_block_title {
	justify-content: center;
	margin-left: 25px;
}

.bottom__info {
	position: absolute;
	left: 50%;
	bottom: -70px;
	transform: translate(-50%, 0);
}

.bottom__info > span {
	text-align: center;
}

.bottom__info .info__service_block_title {
	justify-content: center;
}
