.make{
    height: 600px;
    background-image: url('../img/bg-make-usr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    &__users{

        &_info{
            max-width: 600px;
            display: flex;
            flex-direction: column;
    
            & > h2{
                margin-top: 54px;
                margin-bottom: 25px;
                font-family: 'Roboto-Bold',sans-serif;
                font-weight: 600;
                font-size: 30px;
                line-height: 1.4;
                color: $white;
            }
    
            & > a{
                width: max-content;
                display: block;
                border-bottom: solid $mantis 1px;
                font-family: 'Roboto-Light',sans-serif;
                font-weight: 300;
                font-size: 18px;
                line-height: 18px;
                color: $white;
    
                &:not(:first-child){
                    margin-top: 16px;
                }
            }
        }

        &_descr{
            display: flex;

            & > span{
                display: block;
                margin-right: 8px;
                font-family: 'Roboto-Light',sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 300;
                color: $white;
            }

            & > a{
                display: block;
                text-decoration: underline $mantis;
                text-underline-offset: 3px;
                -webkit-text-underline-offset: 3px;
                -ms-text-underline-offset: 3px;
                font-family: 'Roboto-Light',sans-serif;
                font-weight: 300;
                font-size: 18px;
                line-height: 27px;
                color: $white;
            }

            &:last-child{
                margin-top: 18px;
            }
        }
    }
}