.module__software{

    &_container{
        padding: 120px 20px 105px;

        & > h3{
            font-family: 'Roboto-Bold',sans-serif;
            font-size: 30px;
            line-height: 42px;
            font-weight: 600;
            text-align: center;
        }
    }

    &_wrapper{
        margin-top: 30px;
    }

    &_item{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-child(2n){
            flex-direction: row-reverse;

            & .module__software_img{
                margin-left: 30px;
            }
        }

        &:nth-child(odd){

            & .module__software_img{
                margin-right: 30px;
            }
        }

        &:not(:last-child){
            margin-bottom: 20px;
        }
    }

    &_img{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &_descr{
        max-width: 560px;

        & > h2{
            display: block;
            margin-bottom: 19px;
            font-family: 'Roboto-Bold',sans-serif;
            font-size: 42px;
            line-height: 50px;
            font-weight: 600;
        }

        & > p{
            font-family: 'Roboto-Light',sans-serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 300;

            & > b{
                font-weight: 500;
            }

            &:not(:last-child){
                margin-bottom: 9px;
            }
        }
    }
}