.offers{
    background-color: $alabaster;
    
    &__container{
        padding-top: 100px;
        padding-bottom: 85px;

        & > h2{
            display: block;
            text-align: center;
            font-family: 'Roboto-Bold',sans-serif;
            font-size: 42px;
            font-weight: 700;
            line-height: 1.23;
        }
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__items{
        max-width: 360px;
        margin-top: 40px;
        padding:0 20px;

        & > ul > li{
            line-height: 2.50;
            margin-left: 30px;
            position: relative;

            &::before{
                content: '';
                width: 22px;
                height: 22px;
                position: absolute;
                left: -20px;
                top: 50%;
                background-image: url('../img/offer-check.png');
                background-repeat: no-repeat;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__title{
        margin-bottom: 15px;
        font-family: 'Roboto-Bold',sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.55;
    }
}