.pricing{
    padding-bottom: 120px;
    background-color: $alabaster;

    &__section{
        padding: 0 20px;
        padding-top: 110px;
    }

    &__title{

        & > h1{
            display: block;
            margin-top: 30px;
            font-family: 'Roboto-Medium', sans-serif;
            font-size: 52px;
            line-height: 61px;
            font-weight: 700;
            text-align: center;
        }
    }

    &__tabs{
        margin-top: 15px;
    }

    &__tabs_wrapper{
        justify-content: space-between;
    }

    &__tabs_item{
        max-width: unset;
        color: $boulder;

        &.tabs__title_item--active{
            font-family: 'Roboto-Regular', sans-serif;
            color: $mantis;
            font-weight: 600;
        }
    }

    &__block_cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
        margin-top: 25px;
    }

    &__card{
        width: 100%;
        max-width: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 440px;
        position: relative;
        padding: 30px 20px;
        border: solid $silver 1px;
        background-color: $white;
        border-radius: 5px;
        transition: box-shadow 0.2s ease-in-out;

        &:hover{
            box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
            cursor: pointer;
        }

        &_name{
            font-family: 'Roboto-Medium', sans-serif;
            font-size: 22px;
            font-weight: 700;
            line-height: 28px;
        }

        &_descr{
            display: block;
            margin-top: 10px;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;
        }

        &_option:first-of-type {
            margin-top: 20px;
        }

        &_radio{
            margin-bottom: 2px;
        }

        &_input_radio {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        
        &_input_radio + label {
            display: inline-flex;
            align-items: center;
            user-select: none;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 18px;
            line-height: 30px;
            font-weight: 300;
            cursor: pointer;
        }
        
        //   /* создание в label псевдоэлемента  before со следующими стилями */
        &_input_radio + label::before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid $boulder;
            border-radius: 50%;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 51% 51%;
        }
        
        &_input_radio:focus:not(:checked)+label::before {
            border-color: #80bdff;
        }
        
        &_input_radio:checked + label::before {
            background-color: $white;
            background-image: url('../img/radio.png');
            background-repeat: no-repeat;
        }

        //   /* стили для радиокнопки, находящейся в состоянии disabled */
        &_input_radio:disabled + label::before {
            background-color: #e9ecef;
        }

        &_cost{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }

        &_price{
            display: block;
            margin-top: 5px;
            padding-right: 5px;
            font-family: 'Roboto-Medium', sans-serif;
            font-size: 42px;
            line-height: 42px;
            font-weight: 600;
        }

        &_tooltip{
            max-width: 105px;
            display: block;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;
            color: $black;
            text-decoration-line: underline;
            text-decoration-style: dashed;
            text-decoration-color: $mantis;
            text-underline-offset: 5px;
            -webkit-text-underline-offset: 5px;
            -ms-text-underline-offset: 5px;
            transition: visibility 0.3s ease-in-out;

            &-text{
                width: 100%;
                max-width: 250px;
                display: inline-block;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                padding: 15px 20px;
                border-radius: 5px;
                background-color: $black;
                z-index: 1;
                top: 65px;
                margin-left: -60px;
                font-family: 'Roboto-Regular', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: $white;
                transform: translate(-30%, 0);
                transition: all 0.3s ease-in-out;

                &::before{
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -7px;
                    background-color: $black;
                    left: 50%;
                    transform: translate(-50%, 0) rotate(45deg);
                }
            }

            &:hover &-text{
                opacity: 1;
                visibility: visible;
            }
        }


        &_button{
            width: 100%;
            display: block;
            margin-top: 15px;
            padding: 18px 0;
            border: none;
            border-radius: 5px;
            font-family: 'Roboto-Medium', sans-serif;
            font-size: 16px;
            line-height: 19px;
            font-weight: 700;
            cursor: pointer;
        }

        &_li{
            display: flex;
            align-items: center;
            margin-left: 30px;
            position: relative;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 18px;
            line-height: 28px;
            font-weight: 300;

            &::before{
                content: '';
                width: 22px;
                height: 22px;
                position: absolute;
                left: -20px;
                top: 50%;
                background-image: url('../img/li-check.png');
                background-repeat: no-repeat;
                transform: translate(-50%,-50%);
            }
        }

        &_label{
            width: 96px;
            height: 26px;
            display: flex;
            align-items: center;
            background-color: $thunderbird;
            position: absolute;
            padding-left: 20px;
            right: 0;
            top: 55%;
            font-family: 'Roboto-Regular', sans-serif;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            color: $white;
            clip-path: polygon(14% 0%, 100% 0%, 100% 100%, 14% 100%, 0% 50%);
        }

        &_tooltip-li{
            width: 16px;
            height: 16px;
            margin-left: 5px;
            position: relative;
            background-image: url('../img/vat-tooltip.png');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

            &-text{
                width: 250px;
                display: inline-block;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                padding: 15px 20px;
                border-radius: 5px;
                background-color: $black;
                z-index: 1;
                top: 35px;
                font-family: 'Roboto-Regular', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: $white;
                transform: translate(-47%, 0);
                transition: all 0.3s ease-in-out;

                &::before{
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -7px;
                    background-color: $black;
                    left: 50%;
                    transform: translate(-50%, 0) rotate(45deg);
                }
            }

            &:hover &-text{
                opacity: 1;
                visibility: visible;
            }
        }

        &_more--btn {
            display: flex;
            justify-content: center;
            max-width: max-content;
            margin: 40px auto 0;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 300;
            text-decoration-line: underline;
            text-decoration-color: $mantis;
            text-underline-offset: 5px;
            -webkit-text-underline-offset: 5px;
            -ms-text-underline-offset: 5px;
            cursor: pointer;
        }
    }

    &__buy{
        background-color: $mantis;
        color: $white;
    }

    &__quote{
        width: 100%;
        display: block;
        margin-top: 15px;
        padding: 17px 0;
        border-radius: 5px;
        border: solid $tundora2 1px;
        background-color: $white;
        font-family: 'Roboto-Medium', sans-serif;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        color: $tundora2;
        cursor: pointer;
    }

    &__modal{
        max-width: 1040px !important;
        align-items: unset !important;
    }

    &__modal_title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: 'Roboto-Medium', sans-serif !important;
        font-weight: 600;
        text-align: left !important;
    }

    &__cart_card{
        position: relative;
    }

    &__cart_title{
        width: 100%;
        display: flex;
        padding: 15px 0 15px 21px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background-color: $alabaster;
        font-family: 'Roboto-Regular', sans-serif !important;
        font-size: 16px;
        line-height: 21px;
        font-weight: 500;
    }

    &__cart_product{
        width: 100%;
        display: flex;
        padding: 15px 0 15px 21px;
        align-items: center;

        &:not(:first-child){
            border-bottom: solid $mercury2 1px;
            margin-bottom: -1px;
        }
    }

    &__cart_product_title{
        width: 49%;
        font-family: 'Roboto-Regular', sans-serif !important;
        font-size: 18px;
        line-height: 27px;
        font-weight: 500;
    }

    &__cart_product_price{
        width: 8%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: 'Roboto-Light', sans-serif;
        font-size: 18px;
        line-height: 27px;
        font-weight: 300;

        &--old{
            margin-right: 10px;
            font-size: 16px;
            line-height: 16px;
            font-weight: 300;
            color: $boulder;
            text-decoration: line-through;
        }

        &--mobile{
            display: none;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;
        }
    }

    &__cart_product_quantity{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__cart_product_amount{
        width: 13%;
    }

    &__cart_product_subtitle{
        margin-top: 3px;
        font-family: 'Roboto-Light', sans-serif;
        font-size: 14px;
        line-height: 21px;
        font-weight: 300;
    }

    &__cart_name_product{
        width: 49%;
    }

    &__cart_name_price{
        width: 8%;
        text-align: right;
    }

    &__cart_name_quantity{
        width: 25%;
        text-align: center;
    }

    &__cart_name_amount{
        width: 13%;
    }

    &__cart_product_inpt,
    &__cart_product_btn{
        width: 36px;
        height: 36px;
    }

    &__cart_product_btn{
        background-color: $white;
        border: none;
        border: solid $mercury2 1px;
        font-family: 'Roboto-Regular', sans-serif;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        cursor: pointer;
    }

    &__cart_product_inpt{
        border-left: unset;
        border-right: unset;
        border-top: solid $mercury2 1px;
        border-bottom: solid $mercury2 1px;
        font-family: 'Roboto-Regular', sans-serif;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        text-align: center;
    }

    &__cart_product_amount{
        font-family: 'Roboto-Medium', sans-serif;
        font-size: 18px;
        line-height: 27px;
        font-weight: 500;
    }

    &__cart_product_del{
        width: 16px;
        height: 16px;
        border: none;
        background-image: url('../img/del-product.png');
        background-color: unset;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    &__cart_info{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-top: solid $mercury2 1px;
        border-bottom: solid $mercury2 1px;
        position: relative;

        &::before{
            content: '';
            width: 1px;
            height: 100%;
            background-color: $mercury2;
            position: absolute;
            top: 0px;
            left: 50%;
        }
    }

    &__cart_discounts{
        width: 100%;
        max-width: 460px;
        height: 227px;
        display: flex;
        justify-content: space-between;
        padding: 28px 30px;
        background: linear-gradient(102.88deg, #F0F0F0 0%, #F5F5F5 100%);
        border-radius: 5px;

        &_title{
            max-width: 105px;
            font-family: 'Roboto-Meduim', sans-serif;
            font-size: 22px;
            line-height: 28px;
            font-weight: 600;
            letter-spacing: -1px;
        }

        &_content{
            width: 276px;
            display: flex;
            flex-direction: column;
        }
    
        &_table{
            display: flex;
            padding: 5px 15px;
    
            &:nth-child(even){
                background-color: $mercury2;
            }
        }
    
        &_table--title{
            width: 33.333333%;
            font-family: 'Roboto-Regular', sans-serif;
            font-size: 14px;
            font-weight: 500;
            white-space: nowrap;
        }
    }

    &__cart_update {
        width: 100%;
        max-width: 460px;
        height: 227px;
        padding: 30px 29px;
        border-radius: 5px;

        &--green {
            background: linear-gradient(102.74deg, #B4FBA1 0.29%, #E5FF9C 100%);
        }

        &--blue {
            background: linear-gradient(102.74deg, #8CC4FF 0.29%, #D3D5FF 100%);
        }

        &_title {
            display: flex;
            font-family: 'Roboto-Medium', sans-serif;
            font-size: 22px;
            line-height: 28px;
            font-weight: 600;

            &--price {
                display: flex;
                align-items: center;
            }

            .pricing__old_price{
                display: block;
                margin-left: 15px;
                font-family: 'Roboto-Regular', sans-serif;
                font-size: 22px;
                line-height: 28px;
                font-weight: 400;
                text-decoration: line-through;
                color: rgba(119, 119, 119, 0.6);
            }
        }

        &_ul{
            margin-top: 15px;
        }

        &_li{
            margin-left: 30px;
            position: relative;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;

            &::before{
                content: '';
                width: 16px;
                height: 13px;
                position: absolute;
                left: -20px;
                top: 50%;
                background-image: url('../img/li-check-update.png');
                background-repeat: no-repeat;
                transform: translate(-50%,-50%);
            }

            &:not(:first-child){
                margin-top: 8px;
            }
        }

        &_footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 36px;
        }

        &_btn{
            width: 119px;
            height: 37px;
            border: none;
            border-radius: 5px;
            background-color: $white;
            font-family: 'Roboto-Regular', sans-serif;
            font-size: 16px;
            line-height: 25px;
            font-weight: 400;
            color: $black;
            cursor: pointer;
        }

        &_label{
            width: 120px;
            height: 26px;
            display: flex;
            align-items: center;
            margin-right: -29px;
            padding-left: 20px;
            background-color: $thunderbird;
            font-family: 'Roboto-Regular', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: $white;
            clip-path: polygon(14% 0%, 100% 0%, 100% 100%, 14% 100%, 0% 50%);
        }
    }

    &__table_fonts{
        font-family: 'Roboto-Light', sans-serif;
        font-weight: 300;
    }

    &__cart_footer{
        display: flex;
        justify-content: space-between;
        margin-top: 28px;

        &_discount_code{
            width: 100%;

            &--name{
                font-family: 'Roboto-Regular', sans-serif;
                font-size: 16px;
                line-height: 21px;
                font-weight: 400;
            }

            &--input{
                width: 100%;
                max-width: 280px;
                height: 52px;
                margin-top: 10px;
                padding-left: 20px;
                border-radius: 5px;
                border: solid $silver 1px;
                font-size: 18px;
            }
        }

        &_discount_total{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            max-width: 250px;

            &--header{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            &--price{
                font-family: 'Roboto-Meduim', sans-serif;
                font-size: 28px;
                line-height: 28px;
                font-weight: 600;
            }

            &--vat{
                display: flex;
                align-items: center;
                margin-top: 10px;
                position: relative;
                font-family: 'Roboto-Light', sans-serif;
                font-size: 14px;
                line-height: 21px;
                font-weight: 300;
            }

            &--btn{
                width: 200px;
                height: 55px;
                margin-top: 20px;
                border: none;
                border-radius: 5px;
                background-color: $mantis;
                font-family: 'Roboto-Meduim', sans-serif;
                font-size: 16px;
                line-height: 19px;
                font-weight: 600;
                color: $white;
                cursor: pointer;
            }
        }

        &_discount_tooltip--icon{
            width: 16px;
            height: 16px;
            margin-left: 5px;
            position: relative;
            background-image: url('../img/vat-tooltip.png');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

            &-vat{
                width: 250px;
                display: inline-block;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                padding: 15px 20px;
                border-radius: 5px;
                background-color: $black;
                z-index: 1;
                top: 35px;
                font-family: 'Roboto-Regular', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: $white;
                transform: translate(-47%, 0);
                transition: all 0.3s ease-in-out;

                &::before{
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -7px;
                    background-color: $black;
                    left: 50%;
                    transform: translate(-50%, 0) rotate(45deg);
                }
            }

            &:hover &-vat{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.tabs__content.tabs__content_projects.pricing__tabs_block {
    flex-direction: column;
    padding-left: unset;
    padding-right: unset;
}

.popup--close-pricing,
.popup--close-quote {
    display: none;
    width: 24px;
    height: 24px;
    background-image: url('../img/close-feedback.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.see__more--btn {
    display: none;
    position: absolute;
    right: 20px;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: $tundora2;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: $mantis;
    text-underline-offset: 5px;
    -webkit-text-underline-offset: 5px;
    -ms-text-underline-offset: 5px;
    cursor: pointer;
}
