.project {
	padding: 0 20px;

	&__api {
		display: flex;
		justify-content: space-between;
		padding-top: 100px;
		padding-bottom: 120px;

		& > picture img {
			display: block;
			width: 857px;
			max-width: 857px;
			margin-right: -100px;
		}
	}
	&__block {
		max-width: 405px;

		& > h3 {
			display: block;
			margin: 30px 0 25px;
			font-size: 22px;
			font-family: "Roboto-Bold", sans-serif;
			line-height: 1.35;
			font-weight: 700;
		}

		& > p {
			display: block;
			margin-bottom: 15px;
			font-size: 18px;
			font-family: "Roboto-Light", sans-serif;
			line-height: 1.5;
			font-weight: 300;
		}
	}

	&__source {
		font-size: 18px;
		font-family: "Roboto-Medium", sans-serif;
		line-height: 1.5;
		font-weight: 500;

		& > a {
			text-decoration: underline;
			font-size: inherit;
			font-family: inherit;
			line-height: inherit;
			font-weight: inherit;
			color: $black;
		}

		& > span {
			display: block;
			margin-top: 30px;
			font-size: 14px;
			font-family: "Roboto-Light", sans-serif;
			line-height: 1.5;
			font-weight: 300;
		}
	}
}
