.started{
    height: 600px;
    background-image: url('../img/bg-started.png');
    background-repeat: no-repeat;
    background-size: cover;

    &__container{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    &__info{
        max-width: 600px;

        & > h2{
            font-family: 'Roboto-Bold',sans-serif;
            font-weight: 600;
            font-size: 30px;
            line-height: 1.4;
            color: $white;
        }

        & > p{
            margin-top: 20px;
            font-family: 'Roboto-Light',sans-serif;
            font-weight: 300;
            font-size: 18px;
            line-height: 1.55;
            color: $white;
        }

        & > a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 60px;
            margin-top: 50px;
            background-color: $mantis;
            color: $white;
            border-radius: 5px;
            font-family: 'Roboto-Bold',sans-serif;
            font-weight: 700;
            font-size: 16px;
        }
    }
}