.support {
	&__articles {
		flex-direction: column;
		margin-bottom: 103px;
		padding: 0 42px;
	}

	&__forum {
		margin-bottom: 103px;
		padding: 0 42px;
	}

	&__area_tabs {
		padding: 0 20px;
	}

	&__area_tab {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 277px;
		height: 86px;
		background: $alabaster;
		border: 1px solid $silver;
		border-radius: 5px 5px 0px 0px;
		margin-top: -86px;
		font-size: 22px;
		line-height: 28px;
		font-weight: 700;
		color: $tundora;
		cursor: pointer;
		transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

		&_wrapper {
			display: flex;
			justify-content: center;
		}

		&--active {
			border: 0;
			background: $white;
			color: $mantis;
		}

		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__tab_container {
		width: 100%;
	}

	&__tab_content {
		display: none;
		justify-content: center;
		position: relative;

		&--active {
			display: flex;
			align-items: center;
			flex-direction: column;
		}
	}

	&__tab_wrapper {
		width: 100%;
		max-width: 1160px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 100px;
		margin-top: 90px;
	}

	&__tab_item {
		display: flex;

		& > picture img {
			width: 180px;
			max-width: 180px;
			max-height: 180px;
			display: block;
			object-fit: contain;
		}
	}

	&__tab_block {
		margin-left: 40px;

		& > h2 {
			display: block;
			font-size: 30px;
			line-height: 42px;
			font-weight: 700;
			color: $kleinBlue;
		}
	}

	&__tab_links {
		max-width: 360px;
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}

	&__tab_link {
		display: block;
		font-family: "Roboto-Medium", sans-serif;
		font-size: 18px;
		line-height: 27px;
		font-weight: 500;
		text-decoration: underline $mantis;
		text-underline-offset: 5px;
		-webkit-text-underline-offset: 3px;
		-ms-text-underline-offset: 3px;
		color: $black;

		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__tab_lightlink {
		font-family: "Roboto-Light", sans-serif;
		font-size: 16px;
		line-height: 25px;
		font-weight: 300;
	}

	&__tab_all {
		margin-top: 20px;
		font-family: "Roboto-Light", sans-serif;
		font-size: 16px;
		line-height: 25px;
		font-weight: 300;
		color: $kleinBlue;
	}

	&__tab_from {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-left: 300px;
		margin-right: 100px;
	}

	&__requests_wrapper {
		width: 100%;
		max-width: 957px;
		display: flex;
		flex-direction: column;
		grid-row-gap: unset;
		position: relative;

		& > h2 {
			font-size: 30px;
			line-height: 42px;
			font-weight: 700;
		}
	}

	&__requests_form {
		display: flex;
		flex-direction: column;

		& > label {
			margin-top: 30px;
			margin-bottom: 10px;
			font-family: "Roboto-Meduim", sans-serif;
			font-size: 16px;
			line-height: 21px;
			font-weight: 500;
		}
	}

	&__request_textarea {
		min-height: 100px;
		max-height: 300px;
		padding-left: 20px;
		padding-top: 20px;
		border: solid $silver 1px;
		border-radius: 5px;
		font-family: "Roboto-Light", sans-serif;
		font-size: 16px;
		line-height: 16px;
		font-weight: 300;
		color: $black;
		resize: vertical;
	}

	&__upload {
		position: relative;
	}
	&__background {
		width: 100%;
		height: 56px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		border: solid $mantis 1px;
		border-radius: 5px;
		position: absolute;
		font-family: "Roboto-Light", sans-serif;
		font-size: 16px;
		line-height: 16px;
		font-weight: 300;
		color: $limeade;
		pointer-events: none;
	}

	&__wrapper {
		margin-top: 27px;
	}

	&__feedback_scr {
		display: flex;
		align-items: center;
		margin: 10px -3px 0;
		padding-left: 30px;
		background-image: url("../img/src-icon.png");
		background-repeat: no-repeat;
		font-family: "Roboto-Light", sans-serif;
		font-size: 18px;
		line-height: 27px;
		font-weight: 300;
		color: $black;
	}

	&__feedback_del {
		width: 14px;
		height: 14px;
		display: block;
		margin-left: 7px;
		cursor: pointer;
	}

	&__checkbox {
		display: flex;
		align-items: center;
		margin-top: 20px;
		cursor: pointer;

		& > label {
			font-family: "Roboto-Light", sans-serif;
			font-size: 14px;
			line-height: 16px;
			font-weight: 300;
			color: $black;
			cursor: pointer;
		}
	}

	&__checkbox_input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&__checkbox_input + label {
		display: inline-flex;
		align-items: center;
		user-select: none;
	}

	&__checkbox_input + label::before {
		content: "";
		display: inline-block;
		width: 18px;
		height: 18px;
		flex-shrink: 0;
		flex-grow: 0;
		border: 1px solid $silver;
		border-radius: 3px;
		margin-right: 10px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
	}

	&__checkbox_input:checked + label::before {
		background-image: url("../img/checked-support.png");
		background-repeat: no-repeat;
		background-size: auto;
	}

	&__button {
		max-width: 229px;
		height: 55px;
		margin-top: 40px;
		background-color: $mantis;
		border: none;
		border-radius: 5px;
		font-family: "Roboto-Medium", sans-serif;
		font-size: 16px;
		line-height: 19px;
		font-weight: 500;
		color: $white;
		cursor: pointer;
	}

	&__requests_tickets {
		width: 100%;
		margin-top: 100px;
		background-color: $alabaster;
	}

	&__tab_search {
		width: 100%;
		max-width: 330px;
		height: 345px;
		position: absolute;
		top: 90px;
		right: 50px;
		padding: 50px 40px;
		background-color: $white;
		border: 1px solid rgba(201, 201, 201, 0.1);
		box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
		z-index: 5;
	}

	&__tab_search_input {
		width: 100%;
		max-width: 250px;
		height: 56px;
		padding-left: 55px;
		background-image: url("../img/search-support.png");
		background-repeat: no-repeat;
		background-position: 20px center;
		background-color: $alabaster;
		border: 1px solid rgba(201, 201, 201, 0.2);
		border-radius: 5px;
		font-family: "Roboto-Light", sans-serif;
		font-size: 16px;
		line-height: 17px;
		color: $black;

		&::placeholder {
			color: rgba(0, 0, 0, 0.5);
		}
	}

	&__tab_search_items {
		margin-top: 15px;
	}

	&__tab_search_li {
		padding: 10px 40px;
		cursor: pointer;

		&:not(:last-child) {
			border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
		}

		& > a {
			font-family: "Roboto-Light", sans-serif;
			font-size: 16px;
			line-height: 27px;
			color: $black;
		}
	}
}

.search_li--active {
	position: relative;

	&::before {
		content: "";
		width: 9px;
		height: 12px;
		position: absolute;
		background-image: url("../img/support-li-active.png");
		background-repeat: no-repeat;
		top: 50%;
		left: 17px;
		transform: translate(50%, -50%);
	}

	& > a {
		font-family: "Roboto-Regular", sans-serif;
		font-weight: 400;
		color: $mantis;
	}
}

.requests_tickets {
	&_container {
		max-width: 980px;
		padding: 98px 11px 110px 11px;

		& > h2 {
			display: block;
			margin-bottom: 29px;
			font-family: "Roboto-Bold", sans-serif;
			font-size: 30px;
			line-height: 42px;
			font-weight: 700;
			color: $black;
		}
	}

	&__items {
		display: flex;
		padding: 21px 10px;
		border-top: 1px solid rgba(0, 0, 0, 0.1);

		&:last-child {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

		& > span {
			width: 100%;
			max-width: 70px;
			height: 26px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 30px;
			border-radius: 3px;
			font-family: "Roboto-Medium", sans-serif;
			font-size: 14px;
			line-height: 21px;
			font-weight: 500;
			color: $white;
		}

		& > p {
			font-family: "Roboto-Regular", sans-serif;
			font-size: 18px;
			line-height: 27px;
			font-weight: 400;
			color: $black;
		}
	}
}

.dropdwn {
	display: flex;
	position: relative;

	&__support {
		height: 56px;
		font-family: "Roboto-Regular", sans-serif;
		cursor: pointer;
	}

	&__wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		border: solid $silver 1px;
		border-radius: 5px;
		position: relative;

		&:after {
			content: "";
			width: 13px;
			height: 8px;
			display: block;
			background-image: url("../img/dropdwn-arrow.png");
			background-repeat: no-repeat;
			position: absolute;
			right: 20px;
			transition: transform 0.3s ease-in-out;
		}

		&--active {
			border: solid $mantis 1px;
			border-bottom-left-radius: unset;
			border-bottom-right-radius: unset;

			&:after {
				transform: rotate(180deg);
			}
		}
	}

	&__items {
		display: none;
	}

	&__items--active {
		width: 100%;
		max-height: 212px;
		display: block;
		position: absolute;
		border: solid $silver 1px;
		border-top: unset;
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		background-color: $white;
		top: calc(100% + 0px);
		overflow: auto;
		z-index: 2;
	}

	&__item {
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: "Roboto-Light", sans-serif;
		font-size: 16px;
		line-height: 16px;
		font-weight: 300;
		color: $black;
		padding: 10px 16px 10px 20px;
		cursor: pointer;

		&:not(:last-child) {
			border-bottom: solid $silver 1px;
		}

		&:hover {
			background-color: $seaShell;
		}

		&_label {
			cursor: pointer;
		}

		&--active {
			padding-left: 17px;
			border-left: solid $mantis 3px;
			font-family: "Roboto-Medium", sans-serif;
			font-weight: 500;
		}
	}

	&__name_request {
		margin-left: 20px;
		margin-right: 70px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-family: "Roboto-Light", sans-serif;
		font-size: 16px;
		line-height: 16px;
		color: $black;
		cursor: pointer;
	}

	&__input {
		height: 56px;
		padding-left: 20px;
		border: solid $silver 1px;
		border-radius: 5px;
		font-family: "Roboto-Light", sans-serif;
		font-size: 16px;
		line-height: 16px;
		font-weight: 300;
		color: $black;

		&:focus {
			border: solid $mantis 1px;
		}
	}

	&__input_error {
		border: solid $thunderbird 1px;
	}

	&__span_error {
		display: block;
		margin-top: 10px;
		font-family: "Roboto-Light", sans-serif;
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		color: $thunderbird;
	}
}

#support__uploader {
	width: 100%;
	height: 56px;
	border-radius: 5px;
	cursor: pointer;
}

.request__sloved {
	background: $silver;
}

.request__on-hold {
	background: $logan;
}

.request__open {
	background: $mantis;
}

.request__new {
	background: $thunderbird;
}

.request__pending {
	background: $corn;
}
