.tabs {
	padding-top: 100px;
	padding-bottom: 120px;
	background-color: $alabaster;

	& > h3 {
		text-align: center;
		font-family: "Roboto-Bold", sans-serif;
		font-weight: 600;
		font-size: 30px;
		line-height: 1.23;
	}

	&__items {
		margin-top: 50px;
	}

	&__title {
		display: flex;
		justify-content: space-between;

		&_mobile {
			display: none;
			font-family: "Roboto-Bold", sans-serif;
			font-weight: 600;
			font-size: 20px;
		}

		&_item {
			width: 100%;
			max-width: 300px;
			padding: 0 10px;
			padding-bottom: 20px;
			border-bottom: solid $gallery2 2px;
			text-align: center;
			font-size: 21px;
			font-weight: 400;
			line-height: 1.35;
			color: $boulder;
			transition: font-weight, color, border 0.3s ease;
			cursor: pointer;

			&_projects {
				width: 100%;
				max-width: 135px;
				padding-left: 20px;
				padding-right: 20px;
				border-bottom: solid transparent 2px;
				font-size: 20px;
				color: $black;
			}

			&--active {
				border-bottom: solid $mantis 2px;
				color: $mantis;
				font-weight: 600;
				cursor: default;
			}
		}

		&_projects {
			width: 100%;
			justify-content: center;
			border-bottom: solid $gallery2 1px;
		}
	}

	&__content,
	&__select_mobile,
	&__select_title {
		display: none;

		&--active {
			display: flex;
			padding-left: 225px;
		}

		&_projects {
			width: 100%;
			justify-content: space-between;
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	&__list {
		& > ul {
			list-style: outside;

			& > li {
				font-family: "Roboto-Light", sans-serif;
				font-size: 18px;
				line-height: 1.55;
			}
		}

		&_projects {
			max-width: 520px;
			padding-top: 30px;

			& > ul {
				& > li {
					margin-left: 20px;
				}
			}

			& > span {
				display: block;
				margin-top: 10px;
				font-family: "Roboto-Light", sans-serif;
				font-size: 18px;
				font-weight: 300;
				line-height: 1.55;
			}

			& > a {
				width: 301px;
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 45px;
				background-color: $mantis;
				color: $white;
				border-radius: 5px;
				font-family: "Roboto-Bold", sans-serif;
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}

	&__container {
		margin-top: 35px;
		display: flex;

		&_projects {
			width: 100%;
		}
	}

	&__image {
		width: 100px;
		height: 100px;
		margin-right: 50px;

		&_projects {
			& > picture img {
				max-width: 520px;
				width: 100%;
				height: 359px;
			}
		}
	}

	&__info_projects {
		font-family: "Roboto-Light", sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.55;
	}

	&__select_item {
		width: 100%;
		max-width: 600px;
		display: block;
		padding: 16px 20px;
		border: none;
		background-color: $gallery2;
		font-family: "Roboto-Bold", sans-serif;
		font-size: 16px;
		font-weight: 600;
		color: $mantis;
		-webkit-appearance: none;
		appearance: none;
	}

	&__select_mobile::after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 4px 0 4px;
		border-color: #7bc866 transparent transparent transparent;
		position: absolute;
		top: 50%;
		right: 20px;
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.tabs__title_item_projects.tabs__title_item--active {
	font-weight: 400;
}
