.team{
    height: 485px;
    background-image: url('../img/team-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;


    &__container{
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__info{
        max-width: 560px;

        & > h2{
            font-family: 'Roboto-Medium',sans-serif;
            font-weight: 600;
            font-size: 42px;
            line-height: 50px;
            color: $white;
        }

        & > p{
            margin-top: 20px;
            font-family: 'Roboto-Light',sans-serif;
            font-weight: 300;
            font-size: 18px;
            line-height: 1.55;
            color: $white;
        }

        & > a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 60px;
            margin-top: 40px;
            background-color: $mantis;
            color: $white;
            border-radius: 5px;
            font-family: 'Roboto-Bold',sans-serif;
            font-weight: 700;
            font-size: 16px;
        }
    }
}