.users {
	position: relative;

	&__container {
		padding-top: 100px;
		padding-bottom: 105px;
	}

	&__wrapper {
		& > h2 {
			font-family: "Roboto-Bold", sans-serif;
			font-size: 42px;
			font-weight: 600;
			line-height: 1.23;
			text-align: center;
		}
	}

	&__slider {
		margin-top: 40px;
		overflow: hidden;

		&_pag {
			display: flex;
			justify-content: center;
			margin-top: 20px;
			transition: all 0.2s ease-in-out;
		}
	}

	&__items {
		display: flex;
	}

	&__item {
		display: flex;
		min-width: 1200px;
		padding-left: 125px;
	}

	&__avatar {
		& > picture img {
			width: 100px;
			height: 100px;
			max-width: unset;
			border-radius: 100%;
		}
	}

	&__comment {
		display: flex;
		flex-direction: column;
		max-width: 960px;
		margin-left: 30px;

		& > p {
			font-family: "Roboto-Light", sans-serif;
			font-weight: 300;
			font-size: 18px;
			line-height: 1.55;
		}
	}

	&__author {
		margin-top: 20px;
		font-family: "Roboto-Bold", sans-serif;
		font-size: 24px;
		font-weight: 600;
		line-height: 1.35;
	}

	&__company {
		font-family: "Roboto-Light", sans-serif;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.55;
	}

	&__slider_nav {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -30%);
		background-color: $mantis;
		cursor: pointer;
		opacity: 1;
		visibility: visible;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: $logan;
		}
	}
}

.users__sld_right {
	right: 10px;
}

.users__sld_left {
	left: 50px;
}

.swiper-pagination-bullet {
	display: block;
	width: 10px;
	height: 10px;
	background-color: $logan;
	border-radius: 100%;
	cursor: pointer;

	&:not(:last-child) {
		margin-right: 10px;
	}
}

.swiper-pagination-bullet:hover {
	background-color: $blueRibbon;
}

.swiper-pagination-bullet-active {
	background-color: $blueRibbon;
}

.swiper-button-disabled {
	opacity: 0;
	visibility: hidden;
}
