$max-width: 1200px;
$min-width: 300px;
$white: #fff;
$black: #000;
$gallery: #efefef;
$gallery2: #eeeeee;
$gallery3: #f0f0f0;
$logan: #9ea0c1;
$logan2: #adaec9;
$mantis: #7bc866;
$mischka: #cdcedd;
$mercury: #e5e5e5;
$mercury2: #e4e4e4;
$alabaster: #f7f7f7;
$boulder: #777777;
$blueRibbon: #2e3cff;
$alto: #d9d9d9;
$mineShaft: #1f1f1f;
$silver: #c9c9c9;
$carnation: #f95d51;
$emerald: #62c584;
$solitude: #ecf7ff;
$tolopea: #0f0447;
$onahau: #c4e5ff;
$kleinBlue: #041cb9;
$wildSand: #Fff5f5;
$tundora: #464646;
$tundora2: #4c4c4c;
$seaShell: #f1f1f1;
$limeade: #23a400;
$thunderbird: #d11919;
$corn: #ebc500;
$alto: #dfdfdf;
$alto2: #d8d8d8;
$dodgerBlue: #1e90ff;
$fern: #71b55f;