@import "vars";
@import "mixins";
@import "fonts";

@font-face {
	font-family: "Roboto-Light", sans-serif;
	src: url("../fonts/Roboto-Light.woff2");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Roboto-Regular", sans-serif;
	src: url("../fonts/Roboto-Regular.woff2");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Roboto-Medium", sans-serif;
	src: url("../fonts/Roboto-Medium.woff2");
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Roboto-Bold", sans-serif;
	src: url("../fonts/Roboto-Bold.woff2");
	font-weight: 700;
	font-display: swap;
}

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

.container {
	max-width: $max-width;
	min-width: $min-width;
	margin: 0 auto;
}

// .body__modal--active{
//     overflow: hidden;
//     margin-left: -13px;
// }

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	aspect-ratio: 1/0;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
	outline: none;
}

.cc-revoke,
.cc-window {
	z-index: 999999 !important;
}
.video__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video__media {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}
.video__button {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	display: none;
	padding: 0;
	width: 68px;
	height: 48px;
	border: none;
	background-color: transparent;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.video__button-shape {
	fill: #212121;
	fill-opacity: 0.8;
}
.video__button-icon {
	fill: #ffffff;
}
.video__button:focus {
	outline: none;
}
.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
	fill: #ff0000;
	fill-opacity: 1;
}
/* Enabled */
.video--enabled {
	cursor: pointer;
}
.video--enabled .video__button {
	display: block;
}

@import "header";
@import "advantages";
@import "tabs";
@import "info-service";
@import "demo";
@import "offers";
@import "supports";
@import "users";
@import "trusted";
@import "help";
@import "want";
@import "team";
@import "news";
@import "footer";
@import "effective";
@import "about";
@import "project-api";
@import "started";
@import "analyzer";
@import "business-section";
@import "make-dev";
@import "analyst";
@import "component";
@import "level";
@import "make-users";
@import "end-user";
@import "module-software";
@import "safe-time";
@import "support-area";
@import 'trial-downloads';
@import 'pricing';
@import 'pricing-faq';
@import 'features';
@import "popup-modal";
@import "media";
