.pricing__faq{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 20px 110px;

    &_title{
        font-family: 'Roboto-Medium', sans-serif;
        font-size: 42px;
        line-height: 50px;
        font-weight: 600;
    }

    &_wrapper{
        margin-top: 39px;
    }

    &_descr{
        max-width: 760px;
    }

    &_ul{
        list-style: disc;
        margin-top: 10px;
        margin-left: 15px;
        padding-left: 7px;
    }

    &_li{
        font-family: 'Roboto-Light', sans-serif;
        font-size: 18px;
        line-height: 27px;
        font-weight: 300;
    }
}